<h2>Restaurant List</h2>
<button class="btn btn-primary" (click)="GotoAddRest()">Add New Restaurant</button>
<table >
    <thead>
        <tr>
            <th>Restaurant Id</th>
            <th>Restaurant Name</th>
            <th>Location</th>
            <th>Owner</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of restData">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.location}}</td>
            <td>{{i.owner}}</td>
            <td>
                <button class="btn btn-primary" (click)="DeleteRest(i.id)">Delete</button>
                <button class="btn btn-primary" (click)="EditRest(i.id)">Edit</button> 
            </td>
        </tr>
    </tbody>
</table>