<h1>Add New Restaurant</h1>
<form [formGroup]="form" (ngSubmit)="addnewRest()">
    <div class="form-group">
        <input class="form-control" type="text" formControlName="name" placeholder="Name Restaurant"/>
        <select class="form-select" formControlName="owner" id="owner">
            <option value="" disabled selected>Open this Select User</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
            <option value="Owner">Owner</option>
         </select> 
        <select class="form-select" formControlName="location">
            <option value="" disabled selected>Select Location</option>
            <option value="HYD">Hyderabad</option>
            <option value="MAA">Chennai</option>
            <option value="Madurai">Madurai</option>
         </select>
        <button class="btn btn-success" type="submit">Add New Restaurant</button>
    </div>

</form>