USE [master]
GO
/****** Object:  Database [TaskManagement]    Script Date: 5/3/2025 2:07:41 PM ******/
CREATE DATABASE [TaskManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagement]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[ParentTaskId] [int] NOT NULL,
	[TaskDescription] [text] NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [bigint] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK__Project__16212A1C5480F43E] PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Project__2CB664DCF03D5D75] UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [bigint] NOT NULL,
 CONSTRAINT [PK__ProjectM__0CF04B1874387A4E] PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Project] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RId] [int] IDENTITY(1,1) NOT NULL,
	[RName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
	[ProjId] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaskTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__ParentT__3C69FB99] FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__ParentT__3C69FB99]
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD  CONSTRAINT [FK__ProjectMe__ProjI__30F848ED] FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember] CHECK CONSTRAINT [FK__ProjectMe__ProjI__30F848ED]
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD  CONSTRAINT [FK__ProjectMe__UserI__300424B4] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[ProjectMember] CHECK CONSTRAINT [FK__ProjectMe__UserI__300424B4]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RId])
REFERENCES [dbo].[Role] ([RId])
GO
ALTER TABLE [dbo].[Role]  WITH CHECK ADD CHECK  (([RName]='QA' OR [RName]='Developer' OR [RName]='Project Manager' OR [RName]='Admin'))
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD CHECK  (([TaskType]='New Feature' OR [TaskType]='Bug'))
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD CHECK  (([TaskTypeName]='CLOSED' OR [TaskTypeName]='RESOLVED' OR [TaskTypeName]='INPROGRESS' OR [TaskTypeName]='OPEN'))
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddNewUser]
@UserName nvarchar(40),
@Email nvarchar(40),
@Password nvarchar(30),
@Role bigint,
@Phone nvarchar(20)
As
Insert into UserInfo(UserName,Email,[Password],[RId],Phone) 
Values (@UserName,@Email,@Password,@Role,@Phone)
GO
/****** Object:  StoredProcedure [dbo].[Addproject]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[Addproject]
@Title nvarchar(50),
@Description  nvarchar(50),
@StartDate Date,
@EndDate Date,
@PM bigint as
begin declare @New_ProjId Bigint=0
begin transaction
	begin try
	If Not Exists(Select * From UserInfo where UserId=@PM and Rid=2)
	throw 5001,'User is not a PM role',1
	Insert Into Project(Title,[Description], StartDate,EndDate) values (@Title,@Description,@StartDate,@EndDate)
		Set @New_ProjId=Scope_Identity()
		Print @New_ProjId
	Insert Into ProjectMember(ProjId,UserId)
	Values (@New_ProjId,@PM)
Commit transaction
end try
begin catch
RollBack Transaction
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[AddProjectMember]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddProjectMember]
@ProjId bigint,
@UserId bigint
AS Begin
If Not Exists(Select * From UserInfo where UserId=@UserId and RId=2)
Insert Into ProjectMember(ProjId,UserID)
values (@ProjId,@UserId)
End
GO
/****** Object:  StoredProcedure [dbo].[CreateTask]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateTask]
    @TaskTitle VARCHAR(100),
    @Description TEXT,
    @AssignedTo INT,
    @TaskType VARCHAR(20),
    @StartDate DATE,
    @EndDate DATE,
    @TaskStatusId INT,
	@ProjId Bigint
AS
BEGIN
    INSERT INTO Task (TaskTitle, [Description], AssignedTo, TaskType, StartDate, EndDate, TaskStatusId,ProjId)
    VALUES (@TaskTitle, @Description, @AssignedTo, @TaskType, @StartDate, @EndDate, @TaskStatusId,@ProjId);
END;
GO
/****** Object:  StoredProcedure [dbo].[DelUser]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[DelUser]
@UserId bigint
As
Delete[dbo].[UserInfo]
Where UserId= @UserId
GO
/****** Object:  StoredProcedure [dbo].[GETALLROLES]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETALLROLES]
AS
BEGIN
SELECT * FROM Role
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetAllUsers]
As Select U.*,R.RName UserRoleName From UserInfo U
Join Role R on U.RId=R.RId
GO
/****** Object:  StoredProcedure [dbo].[GetPmProjects]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetPmProjects]
@UserId Bigint
as
begin
Select* from Project P
Join ProjectMember Pmem on P.ProjId =Pmem.ProjId
Where Pmem.Userid=@UserId
end
GO
/****** Object:  StoredProcedure [dbo].[GetPMs]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[GetPMs]
As 
Select * from UserInfo
Where [RId]=2
GO
/****** Object:  StoredProcedure [dbo].[GetProjectNumbers]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[GetProjectNumbers]
@ProjId bigint as 
begin
Select UI.* From ProjectMember Pmem
Join Project Pr on Pmem.ProjId=Pr.ProjId
Join UserInfo UI on Pmem.UserId=UI.UserId
Join [Role] R on UI.RId=R.RId
Where Pmem.ProjId=@ProjId
End
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[GetUserByEmail]
@Email nvarchar(40)
As Select * From UserInfo
Where Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[GetUsersByRole]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[GetUsersByRole]
@RoleName nvarchar(20)
As Begin
Select U.* from UserInfo U Join [Role] R on U.RId = R.RId
Where R.RName=@RoleName
End
GO
/****** Object:  StoredProcedure [dbo].[RemoveProjectMember]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[RemoveProjectMember]
@MemberId bigint
as
Begin
if Not exists (Select * from ProjectMember Pmem
Join UserInfo UI On Pmem.UserId=UI.UserId
Where UI.RId=2 And UI.UserId= Pmem.UserId)---member is a PM
Delete ProjectMember Where MemberId=@MemberId
Else
Throw 500002,'Member is in PM Role',1
End
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Proc [dbo].[ValidateUser]
@Email nvarchar(40),
@Password nvarchar(30)
As Select * From UserInfo
Where Email=@Email and [Password]=@Password
GO
USE [master]
GO
