USE [master]
GO
/****** Object:  Database [taskmanager]    Script Date: 5/3/2025 2:16:35 PM ******/
CREATE DATABASE [taskmanager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taskmanager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\taskmanager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'taskmanager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\taskmanager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taskmanager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taskmanager]
GO
/****** Object:  Table [dbo].[comment]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comment](
	[commentid] [bigint] NOT NULL,
	[parenttaskid] [bigint] NOT NULL,
	[title] [nchar](200) NOT NULL,
	[titlediscription] [nchar](400) NOT NULL,
	[commentedby] [nchar](10) NOT NULL,
	[commentdate] [date] NOT NULL,
 CONSTRAINT [PK_comment] PRIMARY KEY CLUSTERED 
(
	[commentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projectmrember]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projectmrember](
	[memberid] [bigint] IDENTITY(1,1) NOT NULL,
	[projid] [bigint] NOT NULL,
	[userid] [bigint] NULL,
 CONSTRAINT [PK_projectmrember_1] PRIMARY KEY CLUSTERED 
(
	[memberid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_projectmrember] UNIQUE NONCLUSTERED 
(
	[projid] ASC,
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[projects]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[projects](
	[projectid] [bigint] IDENTITY(1,1) NOT NULL,
	[title] [nchar](50) NOT NULL,
	[discription] [nchar](500) NULL,
	[startdate] [date] NOT NULL,
	[enddate] [date] NULL,
 CONSTRAINT [PK_projects] PRIMARY KEY CLUSTERED 
(
	[projectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_projects] UNIQUE NONCLUSTERED 
(
	[title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[role]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[role](
	[roleid] [bigint] IDENTITY(1,1) NOT NULL,
	[rolename] [nchar](20) NOT NULL,
 CONSTRAINT [PK_role] PRIMARY KEY CLUSTERED 
(
	[roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasks]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasks](
	[taskid] [bigint] IDENTITY(1,1) NOT NULL,
	[tasktitle] [nchar](50) NOT NULL,
	[description] [nchar](500) NOT NULL,
	[assigned to] [bigint] NOT NULL,
	[tasktype] [nchar](30) NOT NULL,
	[startdate] [date] NULL,
	[enddate] [date] NULL,
	[taskstatus] [bigint] NOT NULL,
 CONSTRAINT [PK_tasks] PRIMARY KEY CLUSTERED 
(
	[taskid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tasktypemaster]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tasktypemaster](
	[tasktypeid] [bigint] NOT NULL,
	[tasktypename] [nchar](50) NOT NULL,
 CONSTRAINT [PK_tasktypemaster] PRIMARY KEY CLUSTERED 
(
	[tasktypeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_tasktypemaster] UNIQUE NONCLUSTERED 
(
	[tasktypename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userinfo]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userinfo](
	[userid] [bigint] IDENTITY(1,1) NOT NULL,
	[name] [nchar](50) NOT NULL,
	[email] [nchar](50) NOT NULL,
	[password] [nchar](10) NOT NULL,
	[role] [bigint] NOT NULL,
	[phone] [nchar](20) NOT NULL,
 CONSTRAINT [PK_userinfo] PRIMARY KEY CLUSTERED 
(
	[userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_userinfo] UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_projectmrember] FOREIGN KEY([commentid])
REFERENCES [dbo].[projectmrember] ([memberid])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_projectmrember]
GO
ALTER TABLE [dbo].[comment]  WITH CHECK ADD  CONSTRAINT [FK_comment_tasks] FOREIGN KEY([commentid])
REFERENCES [dbo].[tasks] ([taskid])
GO
ALTER TABLE [dbo].[comment] CHECK CONSTRAINT [FK_comment_tasks]
GO
ALTER TABLE [dbo].[projectmrember]  WITH CHECK ADD  CONSTRAINT [FK_projectmrember_projects] FOREIGN KEY([projid])
REFERENCES [dbo].[projects] ([projectid])
GO
ALTER TABLE [dbo].[projectmrember] CHECK CONSTRAINT [FK_projectmrember_projects]
GO
ALTER TABLE [dbo].[projectmrember]  WITH CHECK ADD  CONSTRAINT [FK_projectmrember_userinfo] FOREIGN KEY([projid])
REFERENCES [dbo].[userinfo] ([userid])
GO
ALTER TABLE [dbo].[projectmrember] CHECK CONSTRAINT [FK_projectmrember_userinfo]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_projectmrember] FOREIGN KEY([assigned to])
REFERENCES [dbo].[projectmrember] ([memberid])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_projectmrember]
GO
ALTER TABLE [dbo].[tasks]  WITH CHECK ADD  CONSTRAINT [FK_tasks_tasktypemaster] FOREIGN KEY([taskstatus])
REFERENCES [dbo].[tasktypemaster] ([tasktypeid])
GO
ALTER TABLE [dbo].[tasks] CHECK CONSTRAINT [FK_tasks_tasktypemaster]
GO
ALTER TABLE [dbo].[userinfo]  WITH CHECK ADD  CONSTRAINT [FK_userinfo_role] FOREIGN KEY([role])
REFERENCES [dbo].[role] ([roleid])
GO
ALTER TABLE [dbo].[userinfo] CHECK CONSTRAINT [FK_userinfo_role]
GO
ALTER TABLE [dbo].[tasktypemaster]  WITH CHECK ADD  CONSTRAINT [CK_tasktypemaster] CHECK  (([tasktypename]='closed' OR [tasktypename]='resolved' OR [tasktypename]='in-progress' OR [tasktypename]='open'))
GO
ALTER TABLE [dbo].[tasktypemaster] CHECK CONSTRAINT [CK_tasktypemaster]
GO
/****** Object:  StoredProcedure [dbo].[addnewuser]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addnewuser]
@name nchar(50),
@email nchar(50),
@password nchar(10),
@role bigint,
@phone nchar(20)
as
begin
insert into userinfo([name],email,[password],[role],phone)
values(@name,@email,@password,@role,@phone)
end
GO
/****** Object:  StoredProcedure [dbo].[addprojectmember]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addprojectmember]
@projid bigint,
@userid bigint
as
begin
insert into projectmrember(projid,userid)
values (@projid,@userid)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteuser]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteuser]
@userid bigint
as
delete [dbo].[userinfo]
where userid=@userid
GO
/****** Object:  StoredProcedure [dbo].[getallroles]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getallroles]
as 
begin
select * from role
end 
GO
/****** Object:  StoredProcedure [dbo].[getprojectmembers]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getprojectmembers]
@projid bigint
as
begin
select ui.*,ur.* from projectmrember pmem
join projects pr on pmem.projid=pr.projectid
join userinfo ui on pmem.userid=ui.userid
join role ur on ui.role=ur.roleid
where pmem.projid=@projid
end
GO
/****** Object:  StoredProcedure [dbo].[getuser]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getuser]
as 
select u.*,r.rolename userrolename from userinfo u
join role r on u.[role]=r.roleid
GO
/****** Object:  StoredProcedure [dbo].[getuserbyemail]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getuserbyemail]
@email nvarchar(50)
as 
select * from [dbo].[userinfo]
where email=@email
GO
/****** Object:  StoredProcedure [dbo].[getusersbyrole]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getusersbyrole]
@rolename nvarchar(20)
as
begin
select * from userinfo u
join role r on u.[role]=r.roleid
where r.rolename=@rolename
end 
GO
/****** Object:  StoredProcedure [dbo].[removeprojectmembert]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[removeprojectmembert] 
@memberid bigint
as
begin
if not exists(
select * from projectmrember pmem
join userinfo ui on pmem.userid=ui.userid
where ui.role=4 and ui.userid=pmem.userid)
delete projectmrember
where memberid=@memberid
else
throw 50002,'memeber is in pm role',1
end
GO
/****** Object:  StoredProcedure [dbo].[validateuser]    Script Date: 5/3/2025 2:16:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[validateuser]
@email nchar(50),
@password nchar(30)
as 
select * from [dbo].[userinfo]
where email=@email and [password]=@password
GO
USE [master]
GO
