USE [master]
GO
/****** Object:  Database [MPHTASKMANAGERDB]    Script Date: 5/3/2025 2:07:40 PM ******/
CREATE DATABASE [MPHTASKMANAGERDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MPHTASKMANAGERDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MPHTASKMANAGERDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MPHTASKMANAGERDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\MPHTASKMANAGERDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MPHTASKMANAGERDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MPHTASKMANAGERDB]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[ParentTaskId] [int] NOT NULL,
	[TaskDescription] [text] NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Project] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaskTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CommentBy])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([TaskStatusId])
REFERENCES [dbo].[TaskTypeMaster] ([TaskTypeId])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([RoleName]='QA' OR [RoleName]='Developer' OR [RoleName]='Project Manager' OR [RoleName]='Site Admin'))
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD CHECK  (([TaskType]='New Feature' OR [TaskType]='Bug'))
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD CHECK  (([TaskTypeName]='CLOSED' OR [TaskTypeName]='RESOLVED' OR [TaskTypeName]='INPROGRESS' OR [TaskTypeName]='OPEN'))
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddNewUser]
@Name nvarchar(50),
@Email nvarchar(50),
@Password nvarchar(50),
@Role bigint,
@Phone nvarchar(20)
AS
INSERT INTO UserInfo(UserName,Email,[password],RoleId,Phone)
VALUES(@Name,@Email,@Password,@Role,@Phone)
GO
/****** Object:  StoredProcedure [dbo].[AddProject]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddProject]
@Title nvarchar(50),
@Description nvarchar(500),
@Startdate Date,
@EndDate Date,
@PM bigint
AS
BEGIN
DECLARE @NEW_PROJID  BIGINT
BEGIN TRANSACTION
	BEGIN TRY
	IF EXISTS(SELECT * FROM UserInfo WHERE UserId=@PM AND RoleId=4)
		THROW 5001,'USER IS NOT IN PM ROLE',1

		INSERT INTO Project(Title,[Description],StartDate,EndDate)
		VALUES(@Title,@Description,@Startdate,@EndDate)
			SET @NEW_PROJID=SCOPE_IDENTITY()
			PRINT @NEW_PROJID
		INSERT INTO PROJECTMEMBER(ProjId,UserId)
		VALUES(@NEW_PROJID,@PM)

		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ADDPROJECTMEMBER]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDPROJECTMEMBER]
@PROJID BIGINT,
@USERID BIGINT
AS
BEGIN
IF NOT EXISTS(SELECT * FROM UserInfo WHERE UserId=@USERID AND [RoleId]=4)
INSERT INTO ProjectMember(PROJID,USERID)
VALUES(@PROJID,@USERID)
END
GO
/****** Object:  StoredProcedure [dbo].[DeleteUsers]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteUsers]
@Userid bigint
AS
DELETE [dbo].[UserInfo]
WHERE UserId= @Userid
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllRoles]
AS
BEGIN
SELECT * FROM Roles
END
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetAllUsers]
AS
SELECT U.*, R.RoleName UseRoleName FROM UserInfo U
JOIN Roles R ON U.[RoleId]=R.RoleId
GO
/****** Object:  StoredProcedure [dbo].[GETPMPROJECTS]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPMPROJECTS]
@USERID BIGINT
AS
BEGIN
SELECT * FROM Project P
JOIN ProjectMember PMEM ON P.ProjId=PMEM.ProjId
WHERE PMEM.UserId=@USERID
END
GO
/****** Object:  StoredProcedure [dbo].[GetPMs]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetPMs]
AS
SELECT * FROM UserInfo
WHERE [RoleId]=4
GO
/****** Object:  StoredProcedure [dbo].[GETPROJECTMEMBERS]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GETPROJECTMEMBERS]
@PROJID BIGINT
AS
BEGIN
SELECT UI.*,UR.* FROM ProjectMember PMEM
JOIN Project PR ON PMEM.ProjId=PR.ProjId
JOIN UserInfo UI ON PMEM.UserId=UI.UserId
JOIN Roles UR ON UI.RoleId=UR.RoleId
WHERE PMEM.ProjId=@PROJID
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GetUserByEmail]
@Email nvarchar(50)
AS
SELECT * FROM UserInfo
WHERE Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[GETUSERSBYROLE]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETUSERSBYROLE]
@ROLENAME NVARCHAR(20)
AS
BEGIN
SELECT * FROM UserInfo U
JOIN Roles UR ON U.[RoleId]=UR.RoleId
WHERE UR.RoleName=@ROLENAME
END
GO
/****** Object:  StoredProcedure [dbo].[REMOVEPROJECTMEMBER]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REMOVEPROJECTMEMBER]
@MEMBERID BIGINT
AS
BEGIN
IF NOT EXISTS(
SELECT * FROM ProjectMember PMEM
JOIN UserInfo UI ON PMEM.UserId=UI.UserId
WHERE UI.RoleId=4 AND PMEM.MemberId=@MEMBERID
) ---member is PM
DELETE ProjectMember WHERE MemberId=@MEMBERID
ELSE
THROW 50002,'MEMBER IS IN PM ROLE',7
END
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 5/3/2025 2:07:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ValidateUser]
@Email nvarchar(50),
@Password nvarchar(30)
AS
SELECT * FROM UserInfo
WHERE Email=@Email AND [Password]=@Password
GO
USE [master]
GO
