USE [master]
GO
/****** Object:  Database [TaskManagerDB]    Script Date: 5/3/2025 2:13:43 PM ******/
CREATE DATABASE [TaskManagerDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagerDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagerDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagerDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManagerDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagerDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagerDB]
GO
/****** Object:  Table [dbo].[Comments]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comments](
	[Commentid] [bigint] NOT NULL,
	[ParentTaskid] [bigint] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Taskdescription] [nvarchar](max) NOT NULL,
	[Commentby] [bigint] NOT NULL,
	[Commentdate] [date] NOT NULL,
 CONSTRAINT [PK_Comments] PRIMARY KEY CLUSTERED 
(
	[Commentid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[Projectid] [bigint] NOT NULL,
	[Title] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[Startdate] [date] NOT NULL,
	[Enddate] [date] NULL,
 CONSTRAINT [PK_Project] PRIMARY KEY CLUSTERED 
(
	[Projectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[Memberid] [bigint] NOT NULL,
	[Projectid] [bigint] NOT NULL,
	[Userid] [bigint] NOT NULL,
 CONSTRAINT [PK_ProjectMember] PRIMARY KEY CLUSTERED 
(
	[Memberid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [IX_ProjectMember] UNIQUE NONCLUSTERED 
(
	[Projectid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Roleid] [bigint] NOT NULL,
	[Rolename] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Roleid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[Taskid] [bigint] NOT NULL,
	[Tasktitle] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NOT NULL,
	[Assignedto] [nvarchar](50) NOT NULL,
	[Tasktype] [nvarchar](50) NOT NULL,
	[Startdate] [date] NULL,
	[Enddate] [date] NULL,
	[Taskstatus] [bigint] NOT NULL,
	[Projectid] [bigint] NOT NULL,
 CONSTRAINT [PK_Task] PRIMARY KEY CLUSTERED 
(
	[Taskid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeid] [bigint] NOT NULL,
	[TaskTypename] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TaskTypeMaster] PRIMARY KEY CLUSTERED 
(
	[TaskTypeid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[Userid] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Role] [bigint] NOT NULL,
	[phone] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_UserInfo] PRIMARY KEY CLUSTERED 
(
	[Userid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_TaskTypeMaster]    Script Date: 5/3/2025 2:13:43 PM ******/
CREATE NONCLUSTERED INDEX [IX_TaskTypeMaster] ON [dbo].[TaskTypeMaster]
(
	[TaskTypename] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comments]  WITH CHECK ADD  CONSTRAINT [FK_Comments_Task] FOREIGN KEY([ParentTaskid])
REFERENCES [dbo].[Task] ([Taskid])
GO
ALTER TABLE [dbo].[Comments] CHECK CONSTRAINT [FK_Comments_Task]
GO
ALTER TABLE [dbo].[Project]  WITH CHECK ADD  CONSTRAINT [FK_Project_Project] FOREIGN KEY([Projectid])
REFERENCES [dbo].[Project] ([Projectid])
GO
ALTER TABLE [dbo].[Project] CHECK CONSTRAINT [FK_Project_Project]
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMember_Project1] FOREIGN KEY([Projectid])
REFERENCES [dbo].[Project] ([Projectid])
GO
ALTER TABLE [dbo].[ProjectMember] CHECK CONSTRAINT [FK_ProjectMember_Project1]
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD  CONSTRAINT [FK_ProjectMember_UserInfo1] FOREIGN KEY([Userid])
REFERENCES [dbo].[UserInfo] ([Userid])
GO
ALTER TABLE [dbo].[ProjectMember] CHECK CONSTRAINT [FK_ProjectMember_UserInfo1]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([Projectid])
REFERENCES [dbo].[Project] ([Projectid])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD  CONSTRAINT [FK_UserInfo_Role] FOREIGN KEY([Role])
REFERENCES [dbo].[Role] ([Roleid])
GO
ALTER TABLE [dbo].[UserInfo] CHECK CONSTRAINT [FK_UserInfo_Role]
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD  CONSTRAINT [CK_TaskTypeMaster] CHECK  (([TaskTypename]='CLOSE' OR [TaskTypename]='IN-PROGRESS' OR [TaskTypename]='OPEN'))
GO
ALTER TABLE [dbo].[TaskTypeMaster] CHECK CONSTRAINT [CK_TaskTypeMaster]
GO
/****** Object:  StoredProcedure [dbo].[ADDNEWUSER]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDNEWUSER]
@NAME NVARCHAR(50),
@EMAIL NVARCHAR(50),
@PASSWORD NVARCHAR(30),
@ROLE BIGINT,
@PHONE NVARCHAR(20)
AS
INSERT INTO UserInfo(NAME,EMAIL,[PASSWORD],[ROLE],PHONE)
VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)
GO
/****** Object:  StoredProcedure [dbo].[ADDPROJECTMEMBER]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--alter PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([Name],Email,[Password],[Role],Phone)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

--CREATE PROC VALIDATEUSER
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30)
--AS
--SELECT * FROM USERINFO
--WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD


--ALTER PROC GETALLUSERS
--AS
--SELECT U.*,R.[NAME]  FROM USERINFO U
--JOIN [ROLE] R ON U.[ROLE]=R.ROLEID

--CREATE PROC GETPMS
--AS
--SELECT * FROM USERINFO
--WHERE [ROLE]=4;

--CREATE PROC ADDPROJECT
--@TITLE NVARCHAR(50),
--@DESCRIPTION NVARCHAR(500),
--@STARTDATE DATE,
--@ENDDATE DATE,
--@PM BIGINT
--AS
--BEGIN
--DECLARE @NEW_PROJECTID BIGINT=0
--BEGIN TRANSACTION
--   BEGIN TRY
--   IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid =@PM AND [Role]=4)
--       THROW 5001,'USER IS NOT IN PM ROLE',1
--      INSERT INTO Project(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
--	  VALUES(@TITLE,@DESCRIPTION,@STARTDATE,@ENDDATE)
--	  @NEW_PROJECTID=SCOPE_IDENTITY()
--	  PRINT @NEW_PROJECTID
--	  INSERT INTO PROJECTMEMBER(PROJECTID,USERID)
--	  VALUES(@NEW_PROJECTID,@PM)
--	  COMMIT TRANSACTION
--    END TRY
--	BEGIN CATCH
	--  ROLLBACK TRANSACTION
	--END CATCH

	--CREATE PROCEDURE GETUSERSBYROLE
	--@ROLENAME NVARCHAR(20)
	--AS
	--BEGIN
	--SELECT * FROM UserInfo U
	--JOIN [Role] R ON U.[Role]= R.Roleid
	--WHERE R.Rolename=@ROLENAME
	--END

	--alter PROCEDURE GETPROJECTMEMBERS
	--@PROJECTID BIGINT
	--AS
	--BEGIN
	--SELECT UI.*,R.* FROM ProjectMember PMEM
	--JOIN Project PR ON PMEM.Projectid=PR.Projectid
	--JOIN UserInfo UI ON PMEM.Userid=UI.Userid
	--JOIN Role R ON UI.Role=R.Roleid
	--WHERE PMEM.Projectid=@PROJECTID
	--END

	CREATE PROCEDURE [dbo].[ADDPROJECTMEMBER]
	@PROJECTID BIGINT,
	@USERID BIGINT
	AS
	BEGIN
	IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid=@USERID AND [ROLE]=4)
	INSERT INTO ProjectMember(PROJECTID,USERID)
	VAlUES (@PROJECTID,@USERID)
	END
GO
/****** Object:  StoredProcedure [dbo].[ADDTASK]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--alter PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([Name],Email,[Password],[Role],Phone)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

--CREATE PROC VALIDATEUSER
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30)
--AS
--SELECT * FROM USERINFO
--WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD


--ALTER PROC GETALLUSERS
--AS
--SELECT U.*,R.[NAME]  FROM USERINFO U
--JOIN [ROLE] R ON U.[ROLE]=R.ROLEID

--CREATE PROC GETPMS
--AS
--SELECT * FROM USERINFO
--WHERE [ROLE]=4;

--CREATE PROC ADDPROJECT
--@TITLE NVARCHAR(50),
--@DESCRIPTION NVARCHAR(500),
--@STARTDATE DATE,
--@ENDDATE DATE,
--@PM BIGINT
--AS
--BEGIN
--DECLARE @NEW_PROJECTID BIGINT=0
--BEGIN TRANSACTION
--   BEGIN TRY
--   IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid =@PM AND [Role]=4)
--       THROW 5001,'USER IS NOT IN PM ROLE',1
--      INSERT INTO Project(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
--	  VALUES(@TITLE,@DESCRIPTION,@STARTDATE,@ENDDATE)
--	  @NEW_PROJECTID=SCOPE_IDENTITY()
--	  PRINT @NEW_PROJECTID
--	  INSERT INTO PROJECTMEMBER(PROJECTID,USERID)
--	  VALUES(@NEW_PROJECTID,@PM)
--	  COMMIT TRANSACTION
--    END TRY
--	BEGIN CATCH
	--  ROLLBACK TRANSACTION
	--END CATCH

	--CREATE PROCEDURE GETUSERSBYROLE
	--@ROLENAME NVARCHAR(20)
	--AS
	--BEGIN
	--SELECT * FROM UserInfo U
	--JOIN [Role] R ON U.[Role]= R.Roleid
	--WHERE R.Rolename=@ROLENAME
	--END

	--alter PROCEDURE GETPROJECTMEMBERS
	--@PROJECTID BIGINT
	--AS
	--BEGIN
	--SELECT UI.*,R.* FROM ProjectMember PMEM
	--JOIN Project PR ON PMEM.Projectid=PR.Projectid
	--JOIN UserInfo UI ON PMEM.Userid=UI.Userid
	--JOIN Role R ON UI.Role=R.Roleid
	--WHERE PMEM.Projectid=@PROJECTID
	--END

	--CREATE PROCEDURE ADDPROJECTMEMBER
	--@PROJECTID BIGINT,
	--@USERID BIGINT
	--AS
	--BEGIN
	--IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid=@USERID AND [ROLE]=4)
	--INSERT INTO ProjectMember(PROJECTID,USERID)
	--VAlUES (@PROJECTID,@USERID)
	--END

	--CREATE PROCEDURE REMOVEPROJECTMEMBER
	--@MEMBERID BIGINT
	--AS
	--BEGIN
	--IF NOT EXISTS(
	--SELECT * FROM ProjectMember PMEM
	--JOIN UserInfo UI ON PMEM.Userid =UI.Userid
	--WHERE UI.ROLE=4 AND UI.Userid=PMEM.Userid 
	--DELETE ProjectMember WHERE MemberId=@MEMBERID
	--ELSE
	--   THROW 50002,'MEMBER IS IN PM ROLE',1
	--END

   --CREATE PROCEDURE GETPMPROJECTS
   --@USERID BIGINT
   --AS
   --BEGIN
   --SELECT * FROM Project P
   --JOIN ProjectMember PMEM ON P.Projectid=PMEM.Projectid
   --WHERE PMEM.Userid=@USERID 
   --END

   CREATE PROCEDURE [dbo].[ADDTASK]
   @TITLE NVARCHAR(50),
   @DESCRIPTION NVARCHAR(500),
   @ASSIGNEDTO BIGINT,
   @TASKTYPE NVARCHAR(20),
   @STARTDATE DATE,
   @ENDDATE DATE,
   @TASKSTATUS BIGINT,
   @PROJECTID BIGINT
   AS
   BEGIN
   INSERT INTO TASK(
   [Tasktitle],
   [Description],
   [Assignedto],
   [Tasktype],
   [Startdate],
   [Enddate],
   [Taskstatus],
   [Projectid])
   VALUES(@TITLE,@DESCRIPTION,@ASSIGNEDTO,@TASKTYPE,@STARTDATE,@ENDDATE,@TASKSTATUS,@PROJECTID)
   END
GO
/****** Object:  StoredProcedure [dbo].[DELETEUSER]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--CREATE PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([NAME],EMAIL,[PASSWORD],[ROLE],PHONE)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

CREATE PROC [dbo].[DELETEUSER]
@USERID BIGINT
AS
DELETE[DBO].[USERINFO]
WHERE USERID=@USERID

--CREATE PROC VALIDATEUSER
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30)
--AS
--SELECT * FROM USERINFO
--WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD
GO
/****** Object:  StoredProcedure [dbo].[GETPMPROJECTS]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--alter PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([Name],Email,[Password],[Role],Phone)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

--CREATE PROC VALIDATEUSER
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30)
--AS
--SELECT * FROM USERINFO
--WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD


--ALTER PROC GETALLUSERS
--AS
--SELECT U.*,R.[NAME]  FROM USERINFO U
--JOIN [ROLE] R ON U.[ROLE]=R.ROLEID

--CREATE PROC GETPMS
--AS
--SELECT * FROM USERINFO
--WHERE [ROLE]=4;

--CREATE PROC ADDPROJECT
--@TITLE NVARCHAR(50),
--@DESCRIPTION NVARCHAR(500),
--@STARTDATE DATE,
--@ENDDATE DATE,
--@PM BIGINT
--AS
--BEGIN
--DECLARE @NEW_PROJECTID BIGINT=0
--BEGIN TRANSACTION
--   BEGIN TRY
--   IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid =@PM AND [Role]=4)
--       THROW 5001,'USER IS NOT IN PM ROLE',1
--      INSERT INTO Project(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
--	  VALUES(@TITLE,@DESCRIPTION,@STARTDATE,@ENDDATE)
--	  @NEW_PROJECTID=SCOPE_IDENTITY()
--	  PRINT @NEW_PROJECTID
--	  INSERT INTO PROJECTMEMBER(PROJECTID,USERID)
--	  VALUES(@NEW_PROJECTID,@PM)
--	  COMMIT TRANSACTION
--    END TRY
--	BEGIN CATCH
	--  ROLLBACK TRANSACTION
	--END CATCH

	--CREATE PROCEDURE GETUSERSBYROLE
	--@ROLENAME NVARCHAR(20)
	--AS
	--BEGIN
	--SELECT * FROM UserInfo U
	--JOIN [Role] R ON U.[Role]= R.Roleid
	--WHERE R.Rolename=@ROLENAME
	--END

	--alter PROCEDURE GETPROJECTMEMBERS
	--@PROJECTID BIGINT
	--AS
	--BEGIN
	--SELECT UI.*,R.* FROM ProjectMember PMEM
	--JOIN Project PR ON PMEM.Projectid=PR.Projectid
	--JOIN UserInfo UI ON PMEM.Userid=UI.Userid
	--JOIN Role R ON UI.Role=R.Roleid
	--WHERE PMEM.Projectid=@PROJECTID
	--END

	--CREATE PROCEDURE ADDPROJECTMEMBER
	--@PROJECTID BIGINT,
	--@USERID BIGINT
	--AS
	--BEGIN
	--IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid=@USERID AND [ROLE]=4)
	--INSERT INTO ProjectMember(PROJECTID,USERID)
	--VAlUES (@PROJECTID,@USERID)
	--END

	--CREATE PROCEDURE REMOVEPROJECTMEMBER
	--@MEMBERID BIGINT
	--AS
	--BEGIN
	--IF NOT EXISTS(
	--SELECT * FROM ProjectMember PMEM
	--JOIN UserInfo UI ON PMEM.Userid =UI.Userid
	--WHERE UI.ROLE=4 AND UI.Userid=PMEM.Userid 
	--DELETE ProjectMember WHERE MemberId=@MEMBERID
	--ELSE
	--   THROW 50002,'MEMBER IS IN PM ROLE',1
	--END

   CREATE PROCEDURE [dbo].[GETPMPROJECTS]
   @USERID BIGINT
   AS
   BEGIN
   SELECT * FROM Project P
   JOIN ProjectMember PMEM ON P.Projectid=PMEM.Projectid
   WHERE PMEM.Userid=@USERID 
   END
GO
/****** Object:  StoredProcedure [dbo].[GETPROJECTMEMBERS]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--alter PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([Name],Email,[Password],[Role],Phone)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

--CREATE PROC VALIDATEUSER
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30)
--AS
--SELECT * FROM USERINFO
--WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD


--ALTER PROC GETALLUSERS
--AS
--SELECT U.*,R.[NAME]  FROM USERINFO U
--JOIN [ROLE] R ON U.[ROLE]=R.ROLEID

--CREATE PROC GETPMS
--AS
--SELECT * FROM USERINFO
--WHERE [ROLE]=4;

--CREATE PROC ADDPROJECT
--@TITLE NVARCHAR(50),
--@DESCRIPTION NVARCHAR(500),
--@STARTDATE DATE,
--@ENDDATE DATE,
--@PM BIGINT
--AS
--BEGIN
--DECLARE @NEW_PROJECTID BIGINT=0
--BEGIN TRANSACTION
--   BEGIN TRY
--   IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid =@PM AND [Role]=4)
--       THROW 5001,'USER IS NOT IN PM ROLE',1
--      INSERT INTO Project(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
--	  VALUES(@TITLE,@DESCRIPTION,@STARTDATE,@ENDDATE)
--	  @NEW_PROJECTID=SCOPE_IDENTITY()
--	  PRINT @NEW_PROJECTID
--	  INSERT INTO PROJECTMEMBER(PROJECTID,USERID)
--	  VALUES(@NEW_PROJECTID,@PM)
--	  COMMIT TRANSACTION
--    END TRY
--	BEGIN CATCH
	--  ROLLBACK TRANSACTION
	--END CATCH

	--CREATE PROCEDURE GETUSERSBYROLE
	--@ROLENAME NVARCHAR(20)
	--AS
	--BEGIN
	--SELECT * FROM UserInfo U
	--JOIN [Role] R ON U.[Role]= R.Roleid
	--WHERE R.Rolename=@ROLENAME
	--END

	CREATE PROCEDURE [dbo].[GETPROJECTMEMBERS]
	@PROJECTID BIGINT
	AS
	BEGIN
	SELECT UI.*,R.* FROM ProjectMember PMEM
	JOIN Project PR ON PMEM.Projectid=PR.Projectid
	JOIN UserInfo UI ON PMEM.Userid=UI.Userid
	JOIN Role R ON UI.Role=R.Roleid
	WHERE PMEM.Projectid=@PROJECTID
	END
GO
/****** Object:  StoredProcedure [dbo].[GETUSERBYEMAIL]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--CREATE PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([NAME],EMAIL,[PASSWORD],[ROLE],PHONE)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT,
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

CREATE PROC [dbo].[GETUSERBYEMAIL]
@EMAIL NVARCHAR(50)
AS
SELECT * FROM USERINFO
WHERE EMAIL=@EMAIL
GO
/****** Object:  StoredProcedure [dbo].[GETUSERSBYROLE]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--alter PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([Name],Email,[Password],[Role],Phone)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

--CREATE PROC VALIDATEUSER
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30)
--AS
--SELECT * FROM USERINFO
--WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD


--ALTER PROC GETALLUSERS
--AS
--SELECT U.*,R.[NAME]  FROM USERINFO U
--JOIN [ROLE] R ON U.[ROLE]=R.ROLEID

--CREATE PROC GETPMS
--AS
--SELECT * FROM USERINFO
--WHERE [ROLE]=4;

--CREATE PROC ADDPROJECT
--@TITLE NVARCHAR(50),
--@DESCRIPTION NVARCHAR(500),
--@STARTDATE DATE,
--@ENDDATE DATE,
--@PM BIGINT
--AS
--BEGIN
--DECLARE @NEW_PROJECTID BIGINT=0
--BEGIN TRANSACTION
--   BEGIN TRY
--   IF NOT EXISTS(SELECT * FROM UserInfo WHERE Userid =@PM AND [Role]=4)
--       THROW 5001,'USER IS NOT IN PM ROLE',1
--      INSERT INTO Project(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
--	  VALUES(@TITLE,@DESCRIPTION,@STARTDATE,@ENDDATE)
--	  @NEW_PROJECTID=SCOPE_IDENTITY()
--	  PRINT @NEW_PROJECTID
--	  INSERT INTO PROJECTMEMBER(PROJECTID,USERID)
--	  VALUES(@NEW_PROJECTID,@PM)
--	  COMMIT TRANSACTION
--    END TRY
--	BEGIN CATCH
	--  ROLLBACK TRANSACTION
	--END CATCH

	CREATE PROCEDURE [dbo].[GETUSERSBYROLE]
	@ROLENAME NVARCHAR(20)
	AS
	BEGIN
	SELECT * FROM UserInfo U
	JOIN [Role] R ON U.[Role]= R.Roleid
	WHERE R.Rolename=@ROLENAME
	END
GO
/****** Object:  StoredProcedure [dbo].[VALIDATEUSER]    Script Date: 5/3/2025 2:13:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM  ROLE
--END

--CREATE PROC ADDNEWUSER
--@NAME NVARCHAR(50),
--@EMAIL NVARCHAR(50),
--@PASSWORD NVARCHAR(30),
--@ROLE BIGINT,
--@PHONE NVARCHAR(20)
--AS
--INSERT INTO UserInfo([NAME],EMAIL,[PASSWORD],[ROLE],PHONE)
--VALUES(@NAME,@EMAIL,@PASSWORD,@ROLE,@PHONE)


--CREATE PROC GETALLUSERS
--AS
--SELECT * FROM USerInfo;

--CREATE PROC DELETEUSER
--@USERID BIGINT,
--AS
--DELETE[DBO].[USERINFO]
--WHERE USERID=@USERID

CREATE PROC [dbo].[VALIDATEUSER]
@EMAIL NVARCHAR(50),
@PASSWORD NVARCHAR(30)
AS
SELECT * FROM USERINFO
WHERE EMAIL=@EMAIL AND [PASSWORD]=@PASSWORD
GO
USE [master]
GO
