USE [master]
GO
/****** Object:  Database [ProjManagementToolDB]    Script Date: 5/3/2025 2:08:10 PM ******/
CREATE DATABASE [ProjManagementToolDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ProjManagementToolDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjManagementToolDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ProjManagementToolDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\ProjManagementToolDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ProjManagementToolDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ProjManagementToolDB]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[COMMENTID] [bigint] NOT NULL,
	[PARENT TASKID] [bigint] NOT NULL,
	[TITLE] [nvarchar](200) NOT NULL,
	[TASKDESCRIPTION] [nvarchar](max) NOT NULL,
	[COMMENTBY] [bigint] NOT NULL,
	[COMMENTDATE] [date] NOT NULL,
 CONSTRAINT [PK_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[COMMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTMEMBER]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTMEMBER](
	[MEMBERID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[PROJECTID] [bigint] NOT NULL,
 CONSTRAINT [PK_PROJECTMEMBER] PRIMARY KEY CLUSTERED 
(
	[MEMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[PROJECTID] [bigint] NOT NULL,
	[TITLE] [nvarchar](100) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NULL,
	[PROJECTMEM] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[PROJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLEID] [bigint] NOT NULL,
	[ROLENAME] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASK]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASK](
	[TASKID] [bigint] NOT NULL,
	[TASKTITLE] [nvarchar](50) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[ASSIGNED TO] [bigint] NOT NULL,
	[TASKTYPE] [nvarchar](30) NOT NULL,
	[STARTDATE] [date] NULL,
	[ENDDATE] [date] NULL,
	[TASKSTATUS] [bigint] NOT NULL,
 CONSTRAINT [PK_TASK] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKMASTER]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKMASTER](
	[TASK TYPEMASTER] [bigint] NOT NULL,
	[TASK TYPEMASTER NAME] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_TASKMASTER] PRIMARY KEY CLUSTERED 
(
	[TASK TYPEMASTER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINFO]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO](
	[USERID] [bigint] NOT NULL,
	[USERNAME] [nvarchar](50) NOT NULL,
	[ROLE] [bigint] NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL,
	[CONTACTNO] [nvarchar](10) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROJECTMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTMEMBER_PROJECTMEMBER] FOREIGN KEY([MEMBERID])
REFERENCES [dbo].[PROJECTMEMBER] ([MEMBERID])
GO
ALTER TABLE [dbo].[PROJECTMEMBER] CHECK CONSTRAINT [FK_PROJECTMEMBER_PROJECTMEMBER]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_PROJECTS] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECTS] ([PROJECTID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_PROJECTS]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK_PROJECTMEMBER] FOREIGN KEY([TASKID])
REFERENCES [dbo].[PROJECTMEMBER] ([MEMBERID])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_TASK_PROJECTMEMBER]
GO
ALTER TABLE [dbo].[TASK]  WITH CHECK ADD  CONSTRAINT [FK_TASK_TASKMASTER] FOREIGN KEY([TASKSTATUS])
REFERENCES [dbo].[TASKMASTER] ([TASK TYPEMASTER])
GO
ALTER TABLE [dbo].[TASK] CHECK CONSTRAINT [FK_TASK_TASKMASTER]
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddNewUser] 
@name nvarchar(50),
@email nvarchar(50),
@password nvarchar(30),
@role bigint,
@phone nvarchar(10)
as 
insert into USERINFO(USERNAME,EMAIL,[PASSWORD],ROLE,CONTACTNO)
values (@name,@email,@password,@role,@phone)
GO
/****** Object:  StoredProcedure [dbo].[addprojmem]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[addprojmem]
@projid bigint,
@userid bigint 
as 
begin 
insert into PROJECTMEMBER(PROJECTID,USERID)
values(@projid,@userid)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteuser]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[deleteuser]
@userid bigint
as 
delete [dbo].USERINFO
where userid=@userid
GO
/****** Object:  StoredProcedure [dbo].[getallusers]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getallusers]
as 
select  u.*,r.[ROLE NAME] from userinfo u
join ROLES r on u.[role]=r.[roleid]
GO
/****** Object:  StoredProcedure [dbo].[getprojectmembers]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getprojectmembers]
@projid bigint 
as 
begin 
select ui.*,* from PROJECTMEMBER pmem
join PROJECTS pr on pmem.PROJECTID=pr.PROJECTID
join USERINFO ui on pmem.USERID=ui.userid
join ROLES ur on ui.ROLE=ur.roleid
where pmem.[PROJECTID]=@projid
end



GO
/****** Object:  StoredProcedure [dbo].[getuseerbyrole]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getuseerbyrole]
@rolename nvarchar(30)
as 
begin 
select * from userinfo u
join ROLES ur on u.ROLE=ur.roleid
where ur.[ROLE NAME]=@rolename
end
GO
/****** Object:  StoredProcedure [dbo].[getuserbyemail]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getuserbyemail]
@email nvarchar(50)
as 
select * from userinfo 
where EMAIL=@email
GO
/****** Object:  StoredProcedure [dbo].[validateuser]    Script Date: 5/3/2025 2:08:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[validateuser]
@email nvarchar(50),
@password nvarchar(30)
as 
select * from userinfo 
where EMAIL=@email and PASSWORD=@password
GO
USE [master]
GO
