USE [master]
GO
/****** Object:  Database [TASKMANAGER]    Script Date: 5/3/2025 2:15:11 PM ******/
CREATE DATABASE [TASKMANAGER]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TASKMANAGER', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TASKMANAGER.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TASKMANAGER_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TASKMANAGER_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TASKMANAGER].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TASKMANAGER]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[ParentTaskId] [int] NOT NULL,
	[TaskDescription] [text] NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Project] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
	[ProjId] [int] NULL,
 CONSTRAINT [PK__Task__7C6949B1013C98AD] PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaskTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CommentBy])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__ParentT__70A8B9AE] FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__ParentT__70A8B9AE]
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK__Task__AssignedTo__6BE40491] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK__Task__AssignedTo__6BE40491]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK__Task__TaskStatus__6DCC4D03] FOREIGN KEY([TaskStatusId])
REFERENCES [dbo].[TaskTypeMaster] ([TaskTypeId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK__Task__TaskStatus__6DCC4D03]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Task] FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Task]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([RoleName]='QA' OR [RoleName]='Developer' OR [RoleName]='Project Manager' OR [RoleName]='Site Admin'))
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD CHECK  (([TaskTypeName]='CLOSED' OR [TaskTypeName]='RESOLVED' OR [TaskTypeName]='INPROGRESS' OR [TaskTypeName]='OPEN'))
GO
/****** Object:  StoredProcedure [dbo].[AddCommentAndAssignToQA]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 9. Developer views and adds comments, then assigns the task to QA
CREATE PROCEDURE [dbo].[AddCommentAndAssignToQA]
    @TaskId INT,
    @CommentTitle VARCHAR(255),
    @TaskDescription TEXT,
    @CommentBy INT,
    @CommentDate DATE,
    @QAUserId INT
AS
BEGIN
    INSERT INTO Comment (Title, ParentTaskId, TaskDescription, CommentBy, CommentDate)
    VALUES (@CommentTitle, @TaskId, @TaskDescription, @CommentBy, @CommentDate);

    UPDATE Task SET AssignedTo = @QAUserId WHERE TaskId = @TaskId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--create proc getallroles
--as begin
--select * from roles
--end


CREATE PROC [dbo].[AddNewUser]
@UserName nvarchar(50),
@Email nvarchar(50),
@Password nvarchar(30),
@RoleId bigint,
@Phone nvarchar(20)
AS
Insert INTO UserInfo([UserName],Email,[Password],[RoleId],Phone)
Values(@UserName,@Email,@Password,@RoleId,@Phone)
GO
/****** Object:  StoredProcedure [dbo].[AddProject]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[AddProject]
@Title nvarchar(50),
@Description nvarchar(500),
@Startdate Date,
@Enddate Date,
@PM bigint
As
BEGIN
declare @NEW_PROJID BIGINT=0
BEGIN TRANSACTION
	BEGIN TRY
	IF NOT EXISTS(SELECT * FROM Userinfo where userId=@PM AND Roleid=2)
		throw 5001,'User Is not in PM Role',1
		INSERT INTO PROJECT(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
		Values(@title,@description,@startdate,@enddate)
			SET @NEW_PROJID=SCOPE_IDENTITY()
			PRINT @NEW_PROJID
		INSERT INTO PROJECTMEMBER(PROJID,USERID)
		VALUES(@NEW_PROJID,@PM)
		COMMIT TRANSACTION
	end try
	begin catch
		ROLLBACK TRANSACTION
	END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[ADDPROJECTMEMBER]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDPROJECTMEMBER]
@PROJID BIGINT,
@USERID BIGINT
AS
BEGIN
IF NOT EXISTS(SELECT * FROM UserInfo WHERE USERID=@USERID AND [RoleId]=4)
INSERT INTO ProjectMember(ProjId,UserId)
VALUES(@PROJID,@USERID)
END
GO
/****** Object:  StoredProcedure [dbo].[ADDTASK]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDTASK]
@TITLE NVARCHAR(50),
@DESCRIPTION NVARCHAR(500),
@ASSIGNEDTO BIGINT,
@TASKTYPE NVARCHAR(20),
@STARTDATE DATE,
@ENDDATE DATE,
@TASKSTATUS BIGINT,
@PROJID int
AS
BEGIN
  INSERT INTO Task (TaskTitle, [Description], AssignedTo, TaskType, StartDate, EndDate, TaskStatusid,PROJID)
    VALUES (@Title, @Description, @AssignedTo, @TaskType, @StartDate, @EndDate, @TaskStatus,@PROJID)
END
GO
/****** Object:  StoredProcedure [dbo].[AssignProjectMembers]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 4. Assign developers and QAs to a project
CREATE PROCEDURE [dbo].[AssignProjectMembers]
    @UserId INT,
    @ProjId INT
AS
BEGIN
    INSERT INTO ProjectMember (UserId, ProjId)
    VALUES (@UserId, @ProjId);
END;
GO
/****** Object:  StoredProcedure [dbo].[AssignTaskToDeveloper]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 6. Assign a task to a developer
CREATE PROCEDURE [dbo].[AssignTaskToDeveloper]
    @TaskId INT,
    @DeveloperId INT
AS
BEGIN
    UPDATE Task SET AssignedTo = @DeveloperId WHERE TaskId = @TaskId;
END;
GO
/****** Object:  StoredProcedure [dbo].[AssignUserRole]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 2. Assign roles to users
CREATE PROCEDURE [dbo].[AssignUserRole]
    @UserId INT,
    @RoleId INT
AS
BEGIN
    UPDATE UserInfo SET RoleId = @RoleId WHERE UserId = @UserId;
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateProject]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 3. Create a new project and assign a project manager
CREATE PROCEDURE [dbo].[CreateProject]
    @Title VARCHAR(255),
    @Description TEXT,
    @StartDate DATE,
    @EndDate DATE,
    @PMUserId INT
AS
BEGIN
    DECLARE @NewProjId INT;

    INSERT INTO Project (Title, Description, StartDate, EndDate)
    VALUES (@Title, @Description, @StartDate, @EndDate);

    SET @NewProjId = SCOPE_IDENTITY();

    INSERT INTO ProjectMember (UserId, ProjId)
    VALUES (@PMUserId, @NewProjId);
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateTask]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[CreateTask]
    @TaskTitle VARCHAR(255),
    @Description TEXT,
    @AssignedTo INT,
    @TaskType varchar(255),
    @StartDate DATE,
    @EndDate DATE,
    @TaskStatusId INT
AS
BEGIN
    INSERT INTO Task (TaskTitle, [Description], AssignedTo, TaskType, StartDate, EndDate, TaskStatusId)
    VALUES (@TaskTitle, @Description, @AssignedTo, @TaskType, @StartDate, @EndDate, @TaskStatusId); 
END;
GO
/****** Object:  StoredProcedure [dbo].[CreateUser]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 1. Create a new user with a role
CREATE PROCEDURE [dbo].[CreateUser]
    @UserName VARCHAR(255),
    @RoleId INT,
    @Email VARCHAR(255),
    @Password VARCHAR(10),
    @Phone VARCHAR(20)
AS
BEGIN
    INSERT INTO UserInfo (UserName, RoleId, Email, Password, Phone)
    VALUES (@UserName, @RoleId, @Email, @Password, @Phone);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteUser]
@UserId bigint
AS
Delete [dbo].[UserInfo]
WHERE UserId=@UserId
GO
/****** Object:  StoredProcedure [dbo].[getallroles]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getallroles]
as begin
select * from roles
end
GO
/****** Object:  StoredProcedure [dbo].[getallusers]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[getallusers]
AS
SELECT U.*,R.RoleName UseRoleNames FROM UserInfo U
Join Roles R ON U.ROLEiD=R.ROLEID
GO
/****** Object:  StoredProcedure [dbo].[GETPMPROJECTS]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPMPROJECTS]
@USERID BIGINT
AS
BEGIN
SELECT * FROM Project P
JOIN ProjectMember PMEM ON P.ProjId=PMEM.ProjId
WHERE PMEM.UserId=@USERID
END
GO
/****** Object:  StoredProcedure [dbo].[GETPMS]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPMS]
AS
SELECT * FROM USERINFO WHERE RoleId=4
GO
/****** Object:  StoredProcedure [dbo].[GETPROJECTMEMBERS]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPROJECTMEMBERS]
@PROJID BIGINT
AS BEGIN
SELECT UI.*,UR.* FROM ProjectMember PMEM
JOIN Project PR ON PMEM.ProjId=PR.PROJID
JOIN UserInfo UI ON PMEM.UserId=UI.UserId
JOIN ROLES UR ON UI.ROLEid=UR.ROLEID
WHERE PMEM.ProjId =@PROJID
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetUserByEmail]
@Email nvarchar(50)
 
AS
SELECT * FROM UserInfo
WHERE Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[GETUSERBYROLE]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETUSERBYROLE]
@ROLENAME NVARCHAR(20)
AS 
BEGIN
SELECT * FROM USERINFO U
JOIN USERROLES UR ON U.[ROLE]=UR.ROLEID
WHERE UR.ROLENAME=@ROLENAME
END
GO
/****** Object:  StoredProcedure [dbo].[ListTasks]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 8. List all tasks
CREATE PROCEDURE [dbo].[ListTasks]
AS
BEGIN
    SELECT * FROM Task;
END;
GO
/****** Object:  StoredProcedure [dbo].[QAUpdateTaskStatus]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 10. QA can test the task, close it, or reopen it
CREATE PROCEDURE [dbo].[QAUpdateTaskStatus]
    @TaskId INT,
    @NewStatusId INT
AS
BEGIN
    UPDATE Task SET StatusId = @NewStatusId WHERE TaskId = @TaskId;
END;
GO
/****** Object:  StoredProcedure [dbo].[REMOVEPROJECTMEMBER]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CREATE PROCEDURE GETUSERBYROLE
--@ROLENAME NVARCHAR(20)
--AS 
--BEGIN
--SELECT * FROM USERINFO U
--JOIN USERROLES UR ON U.[ROLE]=UR.ROLEID
--WHERE UR.ROLENAME=@ROLENAME
--END

--EXEC GETUSERBYROLE


--ALTER PROC GETPROJECTMEMBERS
--@PROJID BIGINT
--AS BEGIN
--SELECT UI.*,UR.* FROM ProjectMember PMEM
--JOIN Project PR ON PMEM.ProjId=PR.PROJID
--JOIN UserInfo UI ON PMEM.UserId=UI.UserId
--JOIN ROLES UR ON UI.ROLEid=UR.ROLEID
--WHERE PMEM.ProjId =@PROJID
--END


--ALTER PROC [dbo].[ADDPROJECTMEMBER]
--@PROJID BIGINT,
--@USERID BIGINT
--AS
--BEGIN
--IF NOT EXISTS(SELECT * FROM UserInfo WHERE USERID=@USERID AND [RoleId]=4)
--INSERT INTO ProjectMember(ProjId,UserId)
--VALUES(@PROJID,@USERID)
--END

--EXEC GETALLUSERS
--EXEC ADDPROJECTMEMBER 2,4
--EXEC [dbo].[GETPROJECTMEMBERS] @Projid=1


CREATE PROC [dbo].[REMOVEPROJECTMEMBER]
@MEMBERID BIGINT
AS BEGIN
IF NOT EXISTS(SELECT * FROM ProjectMember PMEM
JOIN UserInfo UI ON PMEM.UserId=UI.UserId
WHERE UI.ROLEID=4 AND PMEM.MemberId=@MEMBERID
)
DELETE ProjectMember WHERE MemberId=@MEMBERID
ELSE 
	THROW 50002,'MEMBER IS IN PM ROLE',1
END

EXEC REMOVEPROJECTMEMBER 3
GO
/****** Object:  StoredProcedure [dbo].[UpdateTaskStatus]    Script Date: 5/3/2025 2:15:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- 7. Update task status
CREATE PROCEDURE [dbo].[UpdateTaskStatus]
    @TaskId INT,
    @StatusId INT
AS
BEGIN
    UPDATE Task SET StatusId = @StatusId WHERE TaskId = @TaskId;
END;
GO
USE [master]
GO
