<form [formGroup]="form" (ngSubmit)="hostAdd()">
    <table>
        <tr>
            <td><label>Id:</label></td>
            <td><input type="text" formControlName="id"></td>
        </tr>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" formControlName="name"></td>
        </tr>
        <tr>
            <td><label>Employee No:</label></td>
            <td><input type="text" formControlName="employee"></td>
        </tr>
        <tr>
            <td><label>Department:</label></td>
            <td><input type="text" formControlName="depart"></td>
        </tr>
        <tr>
            <td><label>Email:</label></td>
            <td><input type="text" formControlName="email"></td>
        </tr>
        <tr>
            <td><label>Password:</label></td>
            <td><input type="text" formControlName="password"></td>
        </tr>
        <tr>
            <td><label>User:</label></td>
            <td>
                <select type="text" formControlName="User">
                    <option value="Manager">Manager</option>
                    <option value="Host">Host</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>User:</label></td>
            <td><input type="text" formControlName="hostrole"></td>
        </tr>
        <tr>
            <td><button type="submit">Add New Host</button></td>
        </tr>
    </table>
</form>