<h2>hostlist</h2>
<button (click)="GotoAddhost()">add host</button>
<table class="table table-striped table-hover">
    <thead>
    <tr>
    <th>id</th>
    <th>Name</th>
    <th>employeenumber</th>
    <th>department</th>
    <th>location</th>
    <th>contactnumber</th>
    <th>role</th>
   
</tr>
</thead>
<tbody>
<tr *ngFor="let v of  hostdata">
    <td>{{v.id}}</td>
    <td>{{v.Name}}</td>
    <td>{{v.employeenumber}}</td>
    <td>{{v.department}}</td>
    <td>{{v.location}}</td>
    <td>{{v.contactnumber}}</td>
    <th>{{v.role}}</th>
  
    <td>
        <button (click)="deletehost(v.id)">Delete</button>
        <!-- <button (click)="Edithost(v.id)">edit</button> -->
    </td>    

</tr>
</tbody>
</table>

