<h2>editvisitor</h2>
<form ngFormGroup="frm" (ngSubmit)="editvisitor()">
    <!-- <input type="text" formControlName="userid" placeholder="enter userid">
    <br> -->
    <input type="text" formControlName="name" placeholder="enter name">
    <br>
    <input type="text" formControlName="parentcompany" placeholder="enter parentcompany">
    <br>
    <select formControlName="location">
        <option value="hyd">hyd</option>
        <option value="chennai">chennai</option>
        <option value="blr">blr</option>
    </select>
    <input type="text" formControlName="purpose" placeholder="enter purpose">
    <br>
    <select formControlName="location">
        <option value="hyd">hyd</option>
        <option value="chennai">chennai</option>
        <option value="blr">blr</option>

    </select>
    <br>
   <input type="text" formControlName="mobilenumber" placeholder="enter mobilenumber">
    <br>
    <input type="text" formControlName="visitingdate" placeholder="enter visitingdate">
    <br>
    <input type="text" formControlName="Hostname" placeholder="enter Hostname">
    <br>

    <button type="submit">edit visitor</button>
</form>
