<h2>Edit Visitor</h2>
<form [formGroup]="frm" (ngSubmit)="EditVisitor()">
    <!-- <input type="text"
    formControlName="rid"
    placeholder="Restaurent ID"/> -->
    <input type="text"
    formControlName="name"
    placeholder="Visitor Name"/>
    <br>
    <input type="text"
    formControlName="location"
    placeholder="Location"/>
    <br>
    <input type="text"
    formControlName="pcomp"
    placeholder="Parent Company"/>
    <br>
    <input type="text"
    formControlName="purpose"
    placeholder="what is the purpose"/>
    <br>
    <input type="text"
    formControlName="mobileno"
    placeholder="Mobile Number"/>
    <br>
    <input type="text"
    formControlName="visitdate"
    placeholder="Visit Date"/>
    <br>
    <select formControlName="hostname">
        <option value="trinay">Trinay</option>
        <option value="shakti">Shakti</option>
        <option value="prem">Prem</option>
    </select>
    <br>
    <button type="submit">Edit Visitor</button>
</form>