<nav class="navbar navbar-expand navbar-dark bg-dark px-3">
    <a class="navbar-brand" href="#">Visitor Manager</a>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item"><a routerLink="/visitors" class="nav-link">Visitors</a></li>
      <li class="nav-item"><a routerLink="/add-visitor" class="nav-link">Add Visitor</a></li>
      <li class="nav-item"><a routerLink="/hosts" class="nav-link">Hosts</a></li>
      <li class="nav-item"><a routerLink="/add-host" class="nav-link">Add Host</a></li>
    </ul>
  </nav>
  <router-outlet></router-outlet>