<div class="container mt-5">
    <h2 class="text-center">Visitor Managment Login</h2>
    <form (ngSubmit)= "login()">
        <div class="mb-3">
            <label for="">UserName</label>
            <input type="text" class="form-control" [(ngModel)] = "username" name="username" required />
        </div>
        <div class="mb-3">
            <label for="">password</label>
            <input type="password" class="form-control" [(ngModel)] = "password" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary w-100">Login</button>
        <div class="mt-2 text-danger" *ngIf="error">{{error}}</div>
    </form>
</div>