<h3>Filtered Rest List:</h3>
<table class="table table-striped table-hover">
    <thead>
        <th>Id</th>
        <th>Name</th>
        <th>location</th>
        <th>owner</th>
    </thead>
    <tbody>
        <tr *ngFor="let i of restaurantData">
            <td>{{i.id}}</td>
            <td>{{i.name}}</td>
            <td>{{i.location}}</td>
            <td>{{i.owner}}</td>
            <!-- <td>
                <button (click)="DeleteRest(i.id)">DeleteRest</button>
                <button (click)="EditRest(i.id)">EditRest</button>
            </td> -->
        </tr>
    </tbody>
    <!-- <button class="btn btn-primary" (click)="GotoAddUser()">GoBackToAddUser</button><br>
    <hr>
    <button class="btn btn-primary" (click)="GotoAddRest()">GotoAddRest</button> -->
</table>