<header class="header">
    <nav>
        <h3>Food Del App</h3>
        <ul>
            <li>
                <a class="navbar-brand" routerLink="userlist">User List</a>
            </li>
            <li>
                <a class="navbar-brand" routerLink="AddUser">Add User</a>
            </li>
            <li>
                <a class="navbar-brand" routerLink="RestaurantList">List Restaurant</a>
            </li>
            <li>
                <a class="navbar-brand" routerLink="AddRestaurant">Add Restaurant</a>
            </li>
        </ul>
    </nav>
</header>
<hr>
