<header class="header">
    <nav>
        <h3>Management Page</h3>
        <ul>
            <li>
                <a class="navbar-brand" routerLink="adminDashboard">Admin Home</a>
            </li>
            <li>
                <a class="navbar-brand" routerLink="adduser">Add User</a>
            </li>
            <li>
                <a class="navbar-brand" routerLink="ListRestaurant">List Restaurant</a>
            </li>
            <li>
                <a class="navbar-brand" routerLink="AddRestaurant">Add Restaurant</a>
            </li>
        </ul>
    </nav>
</header>
<hr>
<router-outlet></router-outlet>