<header class="card-header">
    <nav>
        <h3>Food Del App</h3>

        <ul>
            <li>
                <a routerLink="AdminDashboard">Admin Dashboard</a>
            </li>
            <li>
                <a routerLink="UserList">User List</a>
            </li>
            <li>
                <a routerLink="AddUser">Add User</a>
            </li>
            <li>
                <a routerLink="RestaurantList">Restaurant List</a>
            </li>

            <li>
                <a  routerLink="AddRestaurant">Add Restaurant</a>
            </li>
        </ul>

    </nav>
</header>
<hr>
<router-outlet></router-outlet>
