<h2>Add New Host</h2>
<form style="width: 70%;" [formGroup]="frm" (ngSubmit)="AddNewHost()">
    <!-- <input type="text"
    formControlName="id"
    placeholder="User Id">
    <br> -->
    <input type="text"
    style="margin-bottom: 10px;width: 25%;"
    formControlName="hostname"
    placeholder="Host Name"/>
    <br>
    <input type="text"
    style="margin-bottom: 10px;width: 25%;"
    formControlName="empNum"
    placeholder="Employee Number"/>
    <br>
    <input type="text"
    style="margin-bottom: 10px;width: 25%;"
    formControlName="dept"
    placeholder="Department"/>
    <br>
    <select formControlName="location"
    style="margin-bottom: 10px;width: 25%;">
    <option value="HYD">Hyd</option>
    <option value="CHN">chennai</option>
    <option value="BEN">bengaluru</option>
    <option value="PUNE">pune</option>
    </select>
    <br>
    <input type="text"
    style="margin-bottom: 10px;width: 25%;"
    formControlName="email"
    placeholder="email"/>
    <br>
    <input type="text"
    style="margin-bottom: 10px;width: 25%;"
    formControlName="password"
    placeholder="password"/>
    <br>
    <input type="text"
    style="margin-bottom: 10px;width: 25%;"
    formControlName="mobileno"
    placeholder="Mobile Number"/>
    <br>
    <select formControlName="role"
    style="margin-bottom: 10px;width: 25%;">
        <option value="Host">Host</option>
    </select>
    <br>
    <button type="submit">Add New Host</button>
</form>