<div class="container mt-4">
    <h2 class="mb-4">Welcome to Visitor Managment</h2>

    <div class="row">
        <div class="col-md-4 md-3">
            <button class="btn btn-primary w-100" routerLink="/hosts">Manage Hosts</button>
        </div>
        <div class="col-md-4 md-3">
            <button class="btn btn-primary w-100" routerLink="/visitors">Manage visitors</button>
        </div>
        <div class="col-md-4 md-3">
            <button class="btn btn-primary w-100" (click) = "logout()">Login</button>
        </div>
    </div>


</div>