USE [master]
GO
/****** Object:  Database [PROJECTMANAGEMENTTOOLDB]    Script Date: 5/3/2025 2:08:11 PM ******/
CREATE DATABASE [PROJECTMANAGEMENTTOOLDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PROJECTMANAGEMENTTOOLDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROJECTMANAGEMENTTOOLDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PROJECTMANAGEMENTTOOLDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PROJECTMANAGEMENTTOOLDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PROJECTMANAGEMENTTOOLDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PROJECTMANAGEMENTTOOLDB]
GO
/****** Object:  Table [dbo].[COMMENTS]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMENTS](
	[COMMENTID] [bigint] NOT NULL,
	[PARENTTASKID] [bigint] NOT NULL,
	[TITLE] [nvarchar](30) NOT NULL,
	[TASKDESCRIPTION] [nvarchar](500) NOT NULL,
	[COMMENTBY] [bigint] NOT NULL,
	[COMMENTDATE] [date] NOT NULL,
 CONSTRAINT [PK_COMMENTS] PRIMARY KEY CLUSTERED 
(
	[COMMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTMEMBER]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTMEMBER](
	[MEMBERID] [bigint] NOT NULL,
	[USERID] [bigint] NOT NULL,
	[PROJECTID] [bigint] NOT NULL,
 CONSTRAINT [PK_PROJECTMEMBER] PRIMARY KEY CLUSTERED 
(
	[MEMBERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROJECTS]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROJECTS](
	[PROJECTID] [bigint] NOT NULL,
	[TITLE] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NULL,
	[PROJECTMANAGER] [bigint] NOT NULL,
 CONSTRAINT [PK_PROJECTS] PRIMARY KEY CLUSTERED 
(
	[PROJECTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ROLES]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[ROLEID] [bigint] NOT NULL,
	[ROLENAME] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ROLES] PRIMARY KEY CLUSTERED 
(
	[ROLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKS]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKS](
	[TASKID] [bigint] NOT NULL,
	[TASKTITLE] [nvarchar](30) NOT NULL,
	[DESCRIPTION] [nvarchar](500) NOT NULL,
	[ASSIGNEDTO] [bigint] NOT NULL,
	[TASKTYPE] [bigint] NOT NULL,
	[STARTDATE] [date] NOT NULL,
	[ENDDATE] [date] NULL,
	[TASKSTATUS] [bigint] NOT NULL,
	[PROJECTID] [bigint] NOT NULL,
 CONSTRAINT [PK_TASKS] PRIMARY KEY CLUSTERED 
(
	[TASKID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TASKTYPE]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TASKTYPE](
	[TASKTYPEID] [bigint] NOT NULL,
	[TASKTYPRNAME] [nvarchar](30) NULL,
 CONSTRAINT [PK_TASKTYPE] PRIMARY KEY CLUSTERED 
(
	[TASKTYPEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USERINFO]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USERINFO](
	[USERID] [bigint] NOT NULL,
	[USERNAME] [nvarchar](30) NOT NULL,
	[UROLE] [bigint] NOT NULL,
	[EMAIL] [nvarchar](30) NOT NULL,
	[UPASSWORD] [nvarchar](10) NOT NULL,
	[PHONO] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[USERID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EMAIL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[COMMENTS]  WITH CHECK ADD  CONSTRAINT [FK_COMMENTS_PROJECTMEMBER] FOREIGN KEY([COMMENTBY])
REFERENCES [dbo].[PROJECTMEMBER] ([MEMBERID])
GO
ALTER TABLE [dbo].[COMMENTS] CHECK CONSTRAINT [FK_COMMENTS_PROJECTMEMBER]
GO
ALTER TABLE [dbo].[PROJECTMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTMEMBER_PROJECTS] FOREIGN KEY([PROJECTID])
REFERENCES [dbo].[PROJECTS] ([PROJECTID])
GO
ALTER TABLE [dbo].[PROJECTMEMBER] CHECK CONSTRAINT [FK_PROJECTMEMBER_PROJECTS]
GO
ALTER TABLE [dbo].[PROJECTMEMBER]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTMEMBER_USERINFO] FOREIGN KEY([USERID])
REFERENCES [dbo].[USERINFO] ([USERID])
GO
ALTER TABLE [dbo].[PROJECTMEMBER] CHECK CONSTRAINT [FK_PROJECTMEMBER_USERINFO]
GO
ALTER TABLE [dbo].[PROJECTS]  WITH CHECK ADD  CONSTRAINT [FK_PROJECTS_USERINFO] FOREIGN KEY([PROJECTMANAGER])
REFERENCES [dbo].[USERINFO] ([USERID])
GO
ALTER TABLE [dbo].[PROJECTS] CHECK CONSTRAINT [FK_PROJECTS_USERINFO]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_PROJECTMEMBER] FOREIGN KEY([TASKID])
REFERENCES [dbo].[PROJECTMEMBER] ([MEMBERID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_TASKS_PROJECTMEMBER]
GO
ALTER TABLE [dbo].[TASKS]  WITH CHECK ADD  CONSTRAINT [FK_TASKS_TASKS] FOREIGN KEY([TASKTYPE])
REFERENCES [dbo].[TASKS] ([TASKID])
GO
ALTER TABLE [dbo].[TASKS] CHECK CONSTRAINT [FK_TASKS_TASKS]
GO
ALTER TABLE [dbo].[TASKTYPE]  WITH CHECK ADD  CONSTRAINT [FK_TASKTYPE_TASKTYPE] FOREIGN KEY([TASKTYPEID])
REFERENCES [dbo].[TASKTYPE] ([TASKTYPEID])
GO
ALTER TABLE [dbo].[TASKTYPE] CHECK CONSTRAINT [FK_TASKTYPE_TASKTYPE]
GO
ALTER TABLE [dbo].[USERINFO]  WITH CHECK ADD  CONSTRAINT [FK_USERINFO_ROLES] FOREIGN KEY([UROLE])
REFERENCES [dbo].[ROLES] ([ROLEID])
GO
ALTER TABLE [dbo].[USERINFO] CHECK CONSTRAINT [FK_USERINFO_ROLES]
GO
/****** Object:  StoredProcedure [dbo].[ADDNEWUSER]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use PROJECTMANAGEMENTTOOLDB

--CREATE TABLE USERINFO(
--USERID BIGINT PRIMARY KEY NOT NULL,
--USERNAME NVARCHAR(30) NOT NULL,
--UROLE BIGINT NOT NULL,
--EMAIL NVARCHAR(30) NOT NULL UNIQUE,
--UPASSWORD NVARCHAR(10) NOT NULL,
--PHONO nvarchar(10) 
--)

--CREATE PROC GETALLROLES
--AS
--BEGIN
--SELECT * FROM ROLES
--END

CREATE PROC [dbo].[ADDNEWUSER]
@NAME VARCHAR(50),
@EMAIL NVARCHAR(50),
@PASSWORD NVARCHAR(30),
@ROLE BIGINT,
@PHONE NVARCHAR(20)
AS
INSERT INTO USERINFO(USERNAME,EMAIL, UPASSWORD, UROLE, PHONO)
VALUES(@NAME, @EMAIL, @PASSWORD, @ROLE, @PHONE)
GO
/****** Object:  StoredProcedure [dbo].[ADDPROJECT]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDPROJECT]
@TITLE NVARCHAR(50),
@DESCRIPTION NVARCHAR(500),
@STARTDATE DATE,
@ENDDATE DATE,
@PM BIGINT
AS
BEGIN
DECLARE @NEW_PROJID BIGINT = 0
BEGIN TRANSACTION
	BEGIN TRY
	IF EXISTS(SELECT * FROM USERINFO WHERE USERID=@PM AND UROLE=4)
		THROW 5001,'USER IS NOT IN PM ROLE',1
		INSERT INTO PROJECTS(TITLE,[DESCRIPTION], STARTDATE, ENDDATE)
		VALUES(@TITLE,@DESCRIPTION,@STARTDATE,@ENDDATE)
		SET @NEW_PROJID=SCOPE_IDENTITY()
		PRINT @NEW_PROJID
		INSERT INTO PROJETMEMBER(PROECTID,USERID)
		VALUES(@NEW_PROJID,@PM)
		COMMIT TRANSACTION
	END TRY
	BEGIN CATCH
		ROLLBACK TRANSACTION
	END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[ADDPROJECTMEMBER]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDPROJECTMEMBER]
@PROJID BIGINT,
@USERID BIGINT
AS
BEGIN
INSERT INTO PROJECTMEMBER(PROJECTID, USERID)
VALUES(@PROJID, @USERID)
END
GO
/****** Object:  StoredProcedure [dbo].[CREATETASKBYPM]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CREATETASKBYPM]
@TASKTYPE BIGINT,
@TASKTITLE NVARCHAR(30),
@DESCRIPTION NVARCHAR(500),
@ASSIGNEDTO BIGINT,
@STARTDATE DATE,
@ENDDATE DATE,
@TASKSTATUS BIGINT,
@PROJEID BIGINT
AS
BEGIN
INSERT INTO TASKS(TASKTITLE, [DESCRIPTION], ASSIGNEDTO, TASKTYPE, STARTDATE, ENDDATE, TASKSTATUS, PROJECTID)
VALUES(@TASKTITLE, @DESCRIPTION, @ASSIGNEDTO, @TASKTYPE, @STARTDATE, @ENDDATE, @TASKSTATUS, @PROJEID)
END
GO
/****** Object:  StoredProcedure [dbo].[DELETEUSER]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETEUSER]
@USERID BIGINT
AS
DELETE [dbo].[USERINFO]
WHERE USERID = @USERID
GO
/****** Object:  StoredProcedure [dbo].[GETALLROLES]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETALLROLES]
AS
BEGIN
SELECT * FROM ROLES
END
GO
/****** Object:  StoredProcedure [dbo].[GETALLUSERS]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETALLUSERS]
AS
SELECT U.*, R.ROLENAME FROM USERINFO U
JOIN ROLES R ON U.UROLE = R.ROLEID
GO
/****** Object:  StoredProcedure [dbo].[GETPMS]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPMS]
AS
SELECT * FROM USERINFO
WHERE UROLE = 4
GO
/****** Object:  StoredProcedure [dbo].[GETPROJECTMEMBERS]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROC [dbo].[GETPROJECTMEMBERS]
@PROJID BIGINT
AS
BEGIN
SELECT * FROM PROJECTMEMBER PMEM
JOIN PROJECTS PR ON PMEM.PROJECTID=PR.PROJECTID
JOIN USERINFO UI ON PMEM.USERID=UI.USERID
JOIN ROLES R ON UI.UROLE = R.ROLEID
END
GO
/****** Object:  StoredProcedure [dbo].[GETUSERBYEMAIL]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETUSERBYEMAIL]
@EMAIL NVARCHAR(50)
AS
SELECT * FROM USERINFO
WHERE EMAIL = @EMAIL
GO
/****** Object:  StoredProcedure [dbo].[REMOVEPROJECTMEMBER]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REMOVEPROJECTMEMBER]
@MEMBERID BIGINT
AS
BEGIN
IF NOT EXISTS(
SELECT * FROM PROJECTMEMBER PMEM
JOIN USERINFO UI ON PMEM.USERID = UI.USERID
WHERE UI.UROLE = 4)
DELETE PROJECTMEMBER WHERE MEMBERID=@MEMBERID
ELSE
	THROW 5002,'MEMBER IS IN PM ROLE',1
END
GO
/****** Object:  StoredProcedure [dbo].[VALIDATEUSER]    Script Date: 5/3/2025 2:08:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[VALIDATEUSER]
@EMAIL NVARCHAR(50),
@PASSWORD NVARCHAR(30)
AS
SELECT * FROM USERINFO
WHERE EMAIL=@EMAIL AND UPASSWORD = @PASSWORD
GO
USE [master]
GO
