USE [master]
GO
/****** Object:  Database [task_manager]    Script Date: 5/3/2025 2:09:36 PM ******/
CREATE DATABASE [task_manager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'task_manager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\task_manager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'task_manager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\task_manager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [task_manager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [task_manager]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[ParentTaskId] [int] NOT NULL,
	[TaskDescription] [text] NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Project] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
	[projid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaskTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CommentBy])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([TaskStatusId])
REFERENCES [dbo].[TaskTypeMaster] ([TaskTypeId])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([RoleName]='QA' OR [RoleName]='Developer' OR [RoleName]='Project Manager' OR [RoleName]='Site Admin'))
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD CHECK  (([TaskType]='New Feature' OR [TaskType]='Bug'))
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD CHECK  (([TaskTypeName]='CLOSED' OR [TaskTypeName]='RESOLVED' OR [TaskTypeName]='INPROGRESS' OR [TaskTypeName]='OPEN'))
GO
/****** Object:  StoredProcedure [dbo].[addnewuser]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create proc getallroles
--as
--begin
--select * from roles
--end

--exec getallroles

create proc  [dbo].[addnewuser]
@username nvarchar(50),
@email nvarchar(50),
@password nvarchar(30),
@roleid bigint,
@phone nvarchar(20)
as
insert into UserInfo([userName],Email,[Password],[roleid],Phone)
values(@username,@email,@password,@roleid,@phone)
GO
/****** Object:  StoredProcedure [dbo].[addproject]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addproject]
@title nvarchar(50),
@description nvarchar(500),
@startdate date,
@enddate date,
@pm bigint
as
begin
declare @new_projid bigint=0
begin transaction
     begin try
	 if exists(select * from userinfo where Userid=@pm and RoleId=2)
	 throw 5001,'user is not in pm role',1
         insert into project(Title,[Description],startdate,enddate)
		 values(@Title,@Description,@startdate,@enddate)
		 set @new_projid=scope_identity()
		 print @new_projid
		 insert into  ProjectMember(ProjId,UserId)
		 values(@new_projid,@pm)
		 commit transaction
   end try
   begin catch
      rollback transaction
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[addprojectmember]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addprojectmember]
 @projid bigint,
 @userid bigint
 as
 begin
 if not  exists(select * from UserInfo where UserId=@userid and [RoleId]=3)
 insert into ProjectMember(ProjId,UserId)
 values(@projid,@userid)
 end
GO
/****** Object:  StoredProcedure [dbo].[addtask]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addtask]
 @title nvarchar(50),
 @description nvarchar(500),
 @assignedto bigint,
 @taskype nvarchar(20),
 @startdate date,
 @endate date,
 @taskstatusid bigint,
 @projid bigint
 as 
 begin
 insert into Task(TaskTitle,Description,AssignedTo,TaskType,StartDate,EndDate,TaskStatusid,projid)
 values(@title,@description,@assignedto,@taskype,@startdate,@endate,@taskstatusid,@projid)
 end
GO
/****** Object:  StoredProcedure [dbo].[deleteuser]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create proc getallroles
--as
--begin
--select * from roles
--end

--exec getallroles

--create proc  addnewuser
--@username nvarchar(50),
--@email nvarchar(50),
--@password nvarchar(30),
--@roleid bigint,
--@phone nvarchar(20)
--as
--insert into UserInfo([userName],Email,[Password],[roleid],Phone)
--values(@username,@email,@password,@roleid,@phone)

create proc [dbo].[deleteuser]
@userid bigint
as
delete [dbo].[UserInfo]
where UserId = @userid
GO
/****** Object:  StoredProcedure [dbo].[getallroles]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[getallroles]
as
begin
select * from roles
end
GO
/****** Object:  StoredProcedure [dbo].[getallusers]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getallusers]
as
select U.*,R.rolename from UserInfo u
join roles r on  u.[Roleid]=R.roleid
GO
/****** Object:  StoredProcedure [dbo].[getpmproject]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
 create proc [dbo].[getpmproject]
 @userid bigint
 as 
 begin
 select * from project p
 join ProjectMember pmem on pmem.ProjId=pmem.ProjId
 where pmem.UserId=@userid
 end
GO
/****** Object:  StoredProcedure [dbo].[getpms]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getpms]
as
select * from UserInfo
where [Roleid]=2
GO
/****** Object:  StoredProcedure [dbo].[getprojectmember]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create proc getallroles
--as
--begin
--select * from roles
--end

--exec getallroles

--create proc  addnewuser
--@username nvarchar(50),
--@email nvarchar(50),
--@password nvarchar(30),
--@roleid bigint,
--@phone nvarchar(20)
--as
--insert into UserInfo([userName],Email,[Password],[roleid],Phone)
--values(@username,@email,@password,@roleid,@phone)

--create proc deleteuser
--@userid bigint
--as
--delete [dbo].[UserInfo]
--where UserId = @userid


--create proc getuserbyemail
--@email nvarchar(50)
--as
--select * from UserInfo
--where Email=@email

--create proc validateuser
--@email nvarchar(50),
--@password nvarchar(30)
--as
--select * from UserInfo
--where email=@email and [password]=@password


--alter proc getallusers
--as
--select U.*,R.rolename from UserInfo u
--join roles r on  u.[Roleid]=R.roleid

--create proc getallusers
--as
-- select * from userinfo

--select * from roles
--exec addnewuser 'srinqa','srin@srin.com','srin',4,'234123'

--create proc getpms
--as
--select * from UserInfo
--where [Roleid]=2

--create proc addproject
--@title nvarchar(50),
--@description nvarchar(500),
--@startdate date,
--@enddate date,
--@pm bigint
--as
--begin
--declare @new_projid bigint=0
--begin transaction
--     begin try
--	 if exists(select * from userinfo where Userid=@pm and RoleId=2)
--	 throw 5001,'user is not in pm role',1
--         insert into project(Title,[Description],startdate,enddate)
--		 values(@Title,@Description,@startdate,@enddate)
--		 set @new_projid=scope_identity()
--		 print @new_projid
--		 insert into  ProjectMember(ProjId,UserId)
--		 values(@new_projid,@pm)
--		 commit transaction
--   end try
--   begin catch
--      rollback transaction
--	end catch
--end

--exec addproject 'taskmgr console ui','console app for project manangement','2-5-2025','7-5-2025',2

--select * from Project

--create procedure getusersbyrole
--@rolename nvarchar(20)
--as
--begin
--select * from UserInfo u
--join Roles r on u.[roleid]=r.roleid
--where r.RoleName=@rolename
--end

 --exec getusersbyrole 'qa'

 CREATE proc [dbo].[getprojectmember]
 @projid bigint
 as
 begin
 select  ui.*,r.* from ProjectMember pmem
 join Project pr on pmem.ProjId=pr.ProjId
 join UserInfo  ui on pmem.UserId=ui.userid
 join roles r on ui.RoleId=r.roleid
 where pmem.ProjId=@projid
 end
GO
/****** Object:  StoredProcedure [dbo].[getuserbyemail]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create proc getallroles
--as
--begin
--select * from roles
--end

--exec getallroles

--create proc  addnewuser
--@username nvarchar(50),
--@email nvarchar(50),
--@password nvarchar(30),
--@roleid bigint,
--@phone nvarchar(20)
--as
--insert into UserInfo([userName],Email,[Password],[roleid],Phone)
--values(@username,@email,@password,@roleid,@phone)

--create proc deleteuser
--@userid bigint
--as
--delete [dbo].[UserInfo]
--where UserId = @userid


create proc [dbo].[getuserbyemail]
@email nvarchar(50)
as
select * from UserInfo
where Email=@email
GO
/****** Object:  StoredProcedure [dbo].[getusersbyrole]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create proc getallroles
--as
--begin
--select * from roles
--end

--exec getallroles

--create proc  addnewuser
--@username nvarchar(50),
--@email nvarchar(50),
--@password nvarchar(30),
--@roleid bigint,
--@phone nvarchar(20)
--as
--insert into UserInfo([userName],Email,[Password],[roleid],Phone)
--values(@username,@email,@password,@roleid,@phone)

--create proc deleteuser
--@userid bigint
--as
--delete [dbo].[UserInfo]
--where UserId = @userid


--create proc getuserbyemail
--@email nvarchar(50)
--as
--select * from UserInfo
--where Email=@email

--create proc validateuser
--@email nvarchar(50),
--@password nvarchar(30)
--as
--select * from UserInfo
--where email=@email and [password]=@password


--alter proc getallusers
--as
--select U.*,R.rolename from UserInfo u
--join roles r on  u.[Roleid]=R.roleid

--create proc getallusers
--as
-- select * from userinfo

--select * from roles
--exec addnewuser 'srinqa','srin@srin.com','srin',4,'234123'

--create proc getpms
--as
--select * from UserInfo
--where [Roleid]=2

--create proc addproject
--@title nvarchar(50),
--@description nvarchar(500),
--@startdate date,
--@enddate date,
--@pm bigint
--as
--begin
--declare @new_projid bigint=0
--begin transaction
--     begin try
--	 if exists(select * from userinfo where Userid=@pm and RoleId=2)
--	 throw 5001,'user is not in pm role',1
--         insert into project(Title,[Description],startdate,enddate)
--		 values(@Title,@Description,@startdate,@enddate)
--		 set @new_projid=scope_identity()
--		 print @new_projid
--		 insert into  ProjectMember(ProjId,UserId)
--		 values(@new_projid,@pm)
--		 commit transaction
--   end try
--   begin catch
--      rollback transaction
--	end catch
--end

--exec addproject 'taskmgr console ui','console app for project manangement','2-5-2025','7-5-2025',2

--select * from Project

create procedure [dbo].[getusersbyrole]
@rolename nvarchar(20)
as
begin
select * from UserInfo u
join Roles r on u.[roleid]=r.roleid
where r.RoleName=@rolename
end
GO
/****** Object:  StoredProcedure [dbo].[removeprojectmember]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[removeprojectmember]
 @memberid bigint
 as
 begin 
 if not exists(select * from ProjectMember pmem
 join userinfo ui on pmem.UserId=ui.userid 
 where ui.RoleId=2) --member is a pm
 delete ProjectMember where MemberId=@MemberId
 else
 throw 50002, 'member is in pm',1
 end
GO
/****** Object:  StoredProcedure [dbo].[validateuser]    Script Date: 5/3/2025 2:09:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Create proc getallroles
--as
--begin
--select * from roles
--end

--exec getallroles

--create proc  addnewuser
--@username nvarchar(50),
--@email nvarchar(50),
--@password nvarchar(30),
--@roleid bigint,
--@phone nvarchar(20)
--as
--insert into UserInfo([userName],Email,[Password],[roleid],Phone)
--values(@username,@email,@password,@roleid,@phone)

--create proc deleteuser
--@userid bigint
--as
--delete [dbo].[UserInfo]
--where UserId = @userid


--create proc getuserbyemail
--@email nvarchar(50)
--as
--select * from UserInfo
--where Email=@email

create proc [dbo].[validateuser]
@email nvarchar(50),
@password nvarchar(30)
as
select * from UserInfo
where email=@email and [password]=@password
GO
USE [master]
GO
