<h2>Add User</h2>
<form [formGroup]="frm" (ngSubmit)="AddNewUser()">
<input type="text"
formControlName="name" 
placeholder="Enter the displayName"/><br>
<select formControlName="location">
    <option value="Chennai">Chennai</option>
    <option value="Hyderabad">Hyderabad</option>
    <option value="Banglore">Banglore</option>
</select><br>
<input type="email"
formControlName="email" 
placeholder="Enter the email"/><br>
<input type="password"
formControlName="password" 
placeholder="Enter password"/><br>
<select formControlName="role">
    <option value="Admin">Admin</option>
    <option value="User">User</option>
    <option value="Owner">Owner</option>
</select>
<br><br>
<button type="submit">AddUser</button>