<h2>Add Restaurnt</h2>
<form [formGroup]="frm" (ngSubmit)="OnAddNewRestaurant()">
    <input type="text"
    formControlName="'rid"
    placeholder="RID"
    >
    <br>
    <input type="text"
    formControlName="'rname"
    placeholder="R Name"
    >
    <br>
    <input type="text"
    formControlName="'rlocation"
    placeholder="Location"
    >
    <br>
    <select formControlName="rowner">
        <option *ngFor="let o of ownerList" value="o.userId">{{o.displayName}}</option>
    </select>
    <br>
    <button type="submit">Add New Restaurant</button>
</form>