USE [master]
GO
/****** Object:  Database [TaskManagement]    Script Date: 5/3/2025 2:07:43 PM ******/
CREATE DATABASE [TaskManagement]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManagement', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TaskManagement.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManagement_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\TaskManagement_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManagement].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManagement]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[ParentTaskId] [int] NOT NULL,
	[TaskDescription] [text] NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Project] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
	[Projectid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaskTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CommentBy])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD  CONSTRAINT [FK__Comment__ParentT__619B8048] FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[Comment] CHECK CONSTRAINT [FK__Comment__ParentT__619B8048]
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK__Task__AssignedTo__5CD6CB2B] FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK__Task__AssignedTo__5CD6CB2B]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK__Task__TaskStatus__5EBF139D] FOREIGN KEY([TaskStatusId])
REFERENCES [dbo].[TaskTypeMaster] ([TaskTypeId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK__Task__TaskStatus__5EBF139D]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [task_fk] FOREIGN KEY([Projectid])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [task_fk]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([RoleName]='QA' OR [RoleName]='Developer' OR [RoleName]='Project Manager' OR [RoleName]='Site Admin'))
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD CHECK  (([TaskType]='New Feature' OR [TaskType]='Bug'))
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD CHECK  (([TaskTypeName]='CLOSED' OR [TaskTypeName]='RESOLVED' OR [TaskTypeName]='INPROGRESS' OR [TaskTypeName]='OPEN'))
GO
/****** Object:  StoredProcedure [dbo].[AddProject]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddProject]
@Title varchar(100),
@description text,
@Startdate date,
@Enddate date,
@pm bigint
as
Begin
declare @new_projid int=0
 Begin Transaction 
    Begin try 
	if not exists(select * from UserInfo where UserId=@pm and RoleId=2)
	throw 5001,'user is not in pm role',1
     insert into Project values(@Title,@description,@Startdate,@Enddate)
     set @new_projid=SCOPE_IDENTITY()
     print @new_projid
     insert into ProjectMember(UserId,ProjId) values (@new_projid,@pm)
   commit Transaction
  end try
begin catch
     rollback Transaction
end catch
end
GO
/****** Object:  StoredProcedure [dbo].[AddProjectMember]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[AddProjectMember]
@ProjId int,
@UserId int
as
begin 
if not exists(select * from UserInfo where UserId=@UserId and roleId=2)
insert into ProjectMember values(@ProjId,@UserId)
end
GO
/****** Object:  StoredProcedure [dbo].[AddUser]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[AddUser]
@username varchar(100),
@roleid int,
@email varchar(100),
@password varchar(100),
@phone varchar(100)
as
begin 
insert into UserInfo(username,roleid,email,[password],phone)
values(@username,@roleid,@email,@password,@phone)
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteProjectMember]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[DeleteProjectMember]
@MemberId int
as
begin
if not Exists(
     select * from ProjectMember p
     join UserInfo ui  on p.UserId=ui.UserId
     where ui.RoleId=2 )
   delete ProjectMember where MemberId=@MemberId
else 
   throw 50001,'Member is pm role',1
end
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[DeleteUser]
@UserId int
as
delete dbo.UserInfo where UserId=@UserId
GO
/****** Object:  StoredProcedure [dbo].[GetAllRoles]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllRoles]
as
begin
select *from Roles
end
GO
/****** Object:  StoredProcedure [dbo].[GetAllUsers]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[GetAllUsers]
as
select u.*, r.RoleName  from UserInfo u
join roles r on u.RoleId=r.RoleId
GO
/****** Object:  StoredProcedure [dbo].[GetAllValidatiors]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetAllValidatiors]
@Email nvarchar(50),
@Password varchar(10)
as
begin
select * from UserInfo where Email=@Email and [Password]=@Password 
end
GO
/****** Object:  StoredProcedure [dbo].[GetPms]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetPms]
as 
select * from UserInfo where RoleId=3
GO
/****** Object:  StoredProcedure [dbo].[GetProjectMembers]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetProjectMembers]
@ProjId int
as
begin 
select ui.*,r.* from ProjectMember pm
join Project pr on pm.ProjId=pr.ProjId
join UserInfo ui on pm.UserId=ui.UserId
join Roles r on ui.RoleId=r.RoleId
end
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUserByEmail]
@Email nvarchar(50)
as
select * from UserInfo where Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[GetUsersByRole]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUsersByRole]
@RoleName nvarchar(20)
as
begin 
select * from UserInfo u
join Roles ur on u.RoleId=ur.RoleId
where ur.RoleName=@RoleName
end
GO
/****** Object:  StoredProcedure [dbo].[RemoveProjectMember]    Script Date: 5/3/2025 2:07:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[RemoveProjectMember]
@MemberId int
as
begin
if not Exists(
     select * from ProjectMember p
     join UserInfo ui  on p.UserId=ui.UserId
     where ui.RoleId=2 and p.UserId=ui.UserId)
   delete ProjectMember where MemberId=@MemberId
else 
   throw 50001,'Member is pm role',1
end
GO
USE [master]
GO
