<h2>add new visitor</h2>
<form [formGroup]="frm" (ngSubmit)="AddNewVisitor()">
    <!-- <input type="text" formControlName="" placeholder="enter userid">
    <br> -->
    <input type="text" formControlName="Name" placeholder="enter visitor name">
    <br>
    <select formControlName="Location">
        <option value="HYD">HYD</option>
        <option value="CHN">CHN</option>
        <option value="BLR">BLR</option>

    </select>
    <br>
    <input type="text" formControlName="ParentCompany" placeholder="enter parentcompany">
    <br>

    <input type="text" formControlName="Purpose" placeholder="enter Purpose">
    <br>
    <input type="number" formControlName="MobileNumber" placeholder="enter mobile number">
    <br>
    <input type="date" formControlName="VisitingDate" placeholder="enter date">
    <br>
    <input type="text" formControlName="Hostname" placeholder="enter hostname">
    <br>
    
   
    <button type="submit" >add new visitor</button>
</form>
