<form [formGroup]="form" (ngSubmit)="visitorAdd()">
    <table>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" formControlName="name" ></td>
        </tr>
        <tr>
            <td><label>Id:</label></td>
            <td><input type="text" formControlName="id" ></td>
        </tr>
        <tr>
            <td><label>Company Name:</label></td>
            <td><input type="text" formControlName="comapny" ></td>
        </tr>
        <tr>
            <td><label>Location:</label></td>
             <td>
                <select id="locations" formControlName="location" >
                  <option value="select">Select</option>
                  <option value="new_york">New York</option>
                  <option value="london">London</option>
                  <option value="tokyo">Tokyo</option>
                  <option value="chennai">Chennai</option>
                  <option value="paris">Paris</option>
                </select></td>
        </tr>
        <tr>
            <td><label>Date:</label></td>
            <td><input type="text" formControlName="date" ></td>
        </tr>
        <tr>
            <td><label>Phone No.:</label></td>
            <td><input type="text" formControlName="phone"></td>
        </tr>
        <tr>
            <td><label>Host Role:</label></td>
            <td><input type="text" formControlName="hostrole"></td>
        </tr>
        <tr>
            <td><button type="submit">Add New Visitor</button></td>
        </tr>
    </table>
</form>
