USE [master]
GO
/****** Object:  Database [TaskManager]    Script Date: 5/3/2025 2:07:40 PM ******/
CREATE DATABASE [TaskManager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TaskManager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TaskManager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\TaskManager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TaskManager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TaskManager]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](200) NOT NULL,
	[ParentTaskId] [int] NOT NULL,
	[TaskDescription] [text] NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_User_Project] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskType] [varchar](20) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
	[Projid] [bigint] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TaskTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment] ADD  DEFAULT (getdate()) FOR [CommentDate]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CommentBy])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([TaskStatusId])
REFERENCES [dbo].[TaskTypeMaster] ([TaskTypeId])
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
ALTER TABLE [dbo].[Roles]  WITH CHECK ADD CHECK  (([RoleName]='QA' OR [RoleName]='Developer' OR [RoleName]='Project Manager' OR [RoleName]='Site Admin'))
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD CHECK  (([TaskType]='New Feature' OR [TaskType]='Bug'))
GO
ALTER TABLE [dbo].[TaskTypeMaster]  WITH CHECK ADD CHECK  (([TaskTypeName]='CLOSED' OR [TaskTypeName]='RESOLVED' OR [TaskTypeName]='INPROGRESS' OR [TaskTypeName]='OPEN'))
GO
/****** Object:  StoredProcedure [dbo].[AddNewUser]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddNewUser]
@UserName nvarchar(50),
@Email nvarchar(50),
@Password nvarchar(30),
@RoleId bigint,
@Phone nvarchar(20)
AS
Insert INTO UserInfo([UserName],Email,[Password],[RoleId],Phone)
Values(@UserName,@Email,@Password,@RoleId,@Phone)
GO
/****** Object:  StoredProcedure [dbo].[AddProject]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AddProject]
@Title nvarchar(50),
@Description nvarchar(500),
@Startdate Date,
@Enddate Date,
@PM bigint
As
BEGIN
declare @NEW_PROJID BIGINT=0
BEGIN TRANSACTION
	BEGIN TRY
	IF NOT EXISTS(SELECT * FROM Userinfo where userId=@PM AND Roleid=2)
	
		throw 5001,'User Is not in PM Role',1
		INSERT INTO PROJECT(TITLE,[DESCRIPTION],STARTDATE,ENDDATE)
		Values(@title,@description,@startdate,@enddate)
			SET @NEW_PROJID=SCOPE_IDENTITY()
			PRINT @NEW_PROJID
		INSERT INTO PROJECTMEMBER(PROJID,USERID)
		VALUES(@NEW_PROJID,@PM)
		COMMIT TRANSACTION
	end try
	begin catch
		ROLLBACK TRANSACTION
	END CATCH
	END
GO
/****** Object:  StoredProcedure [dbo].[ADDPROJECTMEMBER]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDPROJECTMEMBER]
@PROJID BIGINT,
@USERID BIGINT
AS
BEGIN
IF NOT EXISTS(SELECT * FROM USERINFO WHERE UserId=@USERID AND [ROLEID]=2)
INSERT INTO PROJECTMEMBER(PROJID,USERID)
VALUES(@PROJID,@USERID)
END
GO
/****** Object:  StoredProcedure [dbo].[ADDTASK]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ADDTASK]
@tASKTITLE NVARCHAR(50),
@DESCRIPTION NVARCHAR(500),
@ASSIGNEDTO BIGINT,
@TASKTYPE NVARCHAR(20),
@STARTDATE DATE,
@ENDDATE DATE,
@TASKSTATUS BIGINT,
@PROJID BIGINT
AS
BEGIN
INSERT INTO TASKS([TaskTitle],
[DESCRIPTION],[ASSIGNEDTO],[TASKTYPE],[STARTDATE],[ENDDATE],[TASKSTATUS],[PROJID])
VALUES (@TaskTitle,
@DESCRIPTION,@ASSIGNEDTO,@TASKTYPE,@STARTDATE,@ENDDATE,@TASKSTATUS,@PROJID);
END;
GO
/****** Object:  StoredProcedure [dbo].[DeleteUser]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeleteUser]
@UserId bigint
AS
Delete [dbo].[UserInfo]
WHERE UserId=@UserId
GO
/****** Object:  StoredProcedure [dbo].[GetALLUsers]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetALLUsers]
AS
SELECT U.*,R.RoleName UseRoleNames FROM UserInfo U
Join Roles R ON U.ROLEiD=R.ROLEID
GO
/****** Object:  StoredProcedure [dbo].[GETPMPROJECTS]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPMPROJECTS]
@USERID BIGINT
AS BEGIN
SELECT * FROM Projects P
JOIN ProjectMember PMEM ON P.ProjectId=PMEM.PROJID
WHERE PMEM.USERID=@USERID
END
GO
/****** Object:  StoredProcedure [dbo].[GetPMs]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetPMs]
As
Select * from UserInfo
Where [RoleId]=2
GO
/****** Object:  StoredProcedure [dbo].[GETPROJECTMEMBERS]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GETPROJECTMEMBERS]
@PROJID BIGINT
AS
BEGIN
SELECT UI.*,UR.*  FROM PROJECTMEMBER PMEM
JOIN PROJECT PR ON PMEM.PROJID=PR.PROJID
JOIN USERINFO UI ON PMEM.USERID=UI.USERID
JOIN ROLES UR ON UI.ROLEID=UR.ROLEID
WHERE PMEM.PROJID=@PROJID
END
GO
/****** Object:  StoredProcedure [dbo].[GetUserByEmail]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[GetUserByEmail]
@Email nvarchar(50)

AS
SELECT * FROM UserInfo
WHERE Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[getusersbyrole]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create procedure [dbo].[getusersbyrole]
@rolename nvarchar(20)
AS
BEGIN
SELECT * FROM USERINFO U
JOIN ROLES UR ON U.[ROLEID]=UR.ROLEID
WHERE UR.ROLENAME=@ROLENAME
END
GO
/****** Object:  StoredProcedure [dbo].[REMOVEPROJECTMEMBER]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[REMOVEPROJECTMEMBER]
@MEMBERID bigint
AS
BEGIN
IF NOT EXISTS(SELECT * FROM PROJECTMEMBER PMEM JOIN USERINFO UI ON PMEM.USERID=UI.USERID WHERE UI.ROLEid=2) --MEMBER IS A PM
DELETE ProjectMember
Where MemberId=@Memberid
else
	throw 50002,'Member is in Pm',1
end
GO
/****** Object:  StoredProcedure [dbo].[ValidateUser]    Script Date: 5/3/2025 2:07:40 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ValidateUser]
@Email nvarchar(50),
@Password nvarchar(30)
AS
SELECT * FROM UserInfo
WHERE Email=@Email AND [Password]=@Password
GO
USE [master]
GO
