<header class="header">
    <nav>
        <h3>Management Page</h3>
        <ul>
            <li>
                <a routerLink="manager">Manager</a>
            </li>
            <li>
                <a routerLink="listV">List Visitor</a>
            </li>
            <li>
                <a routerLink="addV">Add Visitor</a>
            </li>
            <li>
                <a routerLink="listH">List Host</a>
            </li>
            <li>
                <a routerLink="addH">Add Host</a>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>