<h2>Edit Restaurant</h2>
<form [formGroup]="frm" (ngSubmit)="EditRestaurant()">
<!-- <input type="text"
formControlName=""
placeholder="RestaurantId"/>
<br> -->
<input type="text"
formControlName="name"
placeholder="RestaurantName"/>
<br>
<input type="text"
formControlName="location"
placeholder="Location"/>
<br>
<select formControlName="owner">
    <option *ngFor="let r of ownerList" value="{{r.id}}">
        {{r.name}}
    </option>
</select>
<!-- <select formControlName="rowner">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
</select> -->
<br>
<button type="submit">Edit Restaurant</button>
</form>
