<h2>Edit User</h2>
<form [formGroup]="frm" (ngSubmit)="EditUser()">
<input type="text"
formControlName="displayName"
placeholder="Enter display name"
>
<br>
<select formControlName="location">
    <option value="HYD">HYDERABAD</option>
    <option value="CHN">CHENNAI</option>
    <option value="BLR">BANGALORE</option>
</select>

<br>
<input type="password"
formControlName="password"
placeholder="Enter password">
<br>
<select formControlName="role">
    <option value="User">User</option>
    <option value="Owner">Owner</option>
    <option value="Admin">Admin</option>
</select>
<br>
<button type="submit">Edit User</button>
</form>