<h2>Add New Host</h2>
<form [formGroup]="frm" (ngSubmit)="AddNewHost()">
    
    <input type="text" formControlName="hname" placeholder="Host Name"/><br>
    <input type="text" formControlName="employeeNo" placeholder="Employee No"/><br>
    <input type="text" formControlName="dept" placeholder="Department"/><br>
    <input type="text" formControlName="CNo" placeholder="Contact No"/><br>
    <input type="email" formControlName="email" placeholder="Email"/><br>
    <input type="password" formControlName="password" placeholder="Password"/><br>
    <select formControlName="role">
        <option value="Manager">Manager</option> 
    </select><br>
    <button type="submit">Add New Host</button>
</form>
