<h2>add restaurant</h2>
<form [formGroup]="frm" (ngSubmit)="AddNewRestaurant()">
    <input type="text" formControlName="id" placeholder="enter restaurantid">
    <br>
    <input type="text" formControlName="name" placeholder="enter restaurantname">
    <br>
    <input type="text" formControlName="location" placeholder="enter rlocation">
    <br>
    <input type="text" formControlName="owner" placeholder="enter restaurantowner">
    <br>
    <!-- <select  formControlName="restaurantowner"> -->
        <!-- <option *ngFor="let o of ownerlist" [value]="o.userid">
            {{o.displayname}} -->
            <!-- <option value="owner">owner</option>
            <option value="admin">admin</option>
            <option value="user">user</option> -->

        <!-- </option> -->
  
    <!-- </select> -->
    <br>
    <button type="submit" >add restaurant</button>
</form>
