USE [master]
GO
/****** Object:  Database [taskmanager]    Script Date: 5/3/2025 2:06:24 PM ******/
CREATE DATABASE [taskmanager]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'taskmanager', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\taskmanager.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'taskmanager_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\taskmanager_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [taskmanager].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [taskmanager]
GO
/****** Object:  Table [dbo].[Comment]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Comment](
	[CommentId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[TaskDescription] [text] NULL,
	[ParentTaskId] [int] NOT NULL,
	[CommentBy] [int] NOT NULL,
	[CommentDate] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CommentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Project]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Project](
	[ProjId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Title] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProjectMember]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProjectMember](
	[MemberId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[ProjId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[ProjId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[TaskId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTitle] [varchar](100) NOT NULL,
	[Description] [text] NULL,
	[AssignedTo] [int] NOT NULL,
	[TaskTypeId] [varchar](50) NOT NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[TaskStatusId] [int] NOT NULL,
	[Projid] [int] NULL,
	[Projectid] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskTypeMaster]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskTypeMaster](
	[TaskTypeId] [int] IDENTITY(1,1) NOT NULL,
	[TaskTypeName] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TaskTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserInfo]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserInfo](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](100) NOT NULL,
	[RoleId] [int] NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Password] [varchar](10) NOT NULL,
	[Phone] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([CommentBy])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Comment]  WITH CHECK ADD FOREIGN KEY([ParentTaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([ProjId])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[ProjectMember]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserInfo] ([UserId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD FOREIGN KEY([AssignedTo])
REFERENCES [dbo].[ProjectMember] ([MemberId])
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Project] FOREIGN KEY([Projid])
REFERENCES [dbo].[Project] ([ProjId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Project]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK_Task_Task] FOREIGN KEY([TaskId])
REFERENCES [dbo].[Task] ([TaskId])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK_Task_Task]
GO
ALTER TABLE [dbo].[UserInfo]  WITH CHECK ADD FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([RoleId])
GO
/****** Object:  StoredProcedure [dbo].[addnewuser]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[addnewuser]
@UserName nvarchar(50),
@Email nvarchar(50),
@Password nvarchar(30),
@RoleId int,
@Phone nvarchar(20)
as
insert into UserInfo([UserName],Email,[Password],[RoleId],Phone)
values(@UserName,@Email,@Password,@RoleId,@Phone)
GO
/****** Object:  StoredProcedure [dbo].[addproject]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addproject]
@Title nvarchar(20),
@Description nvarchar(50),
@StartDate date,
@EndDate date,
@PM bigint
as
begin 
declare @new_projid bigint=0
begin transaction
	begin try
	if not exists(select *from UserInfo where UserId=@PM and RoleId=4)
		throw 5001, 'user is not in PM Role',1

		insert into Project(Title,[Description],StartDate,EndDate)
		values(@Title,@Description,@StartDate,@EndDate)
		     set @new_projid=SCOPE_IDENTITY()
		     print @new_projid
		insert into ProjectMember(ProjId,UserId)
		values(@new_projid,@PM)
		commit transaction
	end try
	begin catch
		rollback transaction
	end catch
end
GO
/****** Object:  StoredProcedure [dbo].[addprojmem]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[addprojmem]
@projid int,
@userid int
as
begin
if not exists (select *from UserInfo where UserId=@userid and [RoleId]=3)
insert into ProjectMember(ProjId,UserId)
values(@projid,@userid)
end
GO
/****** Object:  StoredProcedure [dbo].[deleteusers]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[deleteusers]
@UserId int
as
delete [dbo].[UserInfo]
where UserId=@UserId
GO
/****** Object:  StoredProcedure [dbo].[getallRoles]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getallRoles]
as
begin
select *from Roles
end
GO
/****** Object:  StoredProcedure [dbo].[getallusers]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getallusers]
as
select  U.*, R.RoleName from UserInfo U
Join Roles R on U.RoleId=R.RoleId
GO
/****** Object:  StoredProcedure [dbo].[getpmprojects]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getpmprojects]
@userid bigint
as
begin
select *from project p
join ProjectMember pmem on p.ProjId=pmem.ProjId
where pmem.UserId=@userid
end
GO
/****** Object:  StoredProcedure [dbo].[getPMs]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------Strored Procedures-----------------------------

--create proc getallRoles
--as
--begin
--select *from Roles
--end

--exec getallRoles

-------------
--create proc addnewuser
--@UserName nvarchar(50),
--@Email nvarchar(50),
--@Password nvarchar(30),
--@RoleId int,
--@Phone nvarchar(20)
--as
--insert into UserInfo([UserName],Email,[Password],[RoleId],Phone)
--values(@UserName,@Email,@Password,@RoleId,@Phone)

---------------------
--create proc deleteusers
--@UserId int
--as
--delete [dbo].[UserInfo]
--where UserId=@UserId

----------------
--create proc getuserbyemail
--@Email nvarchar(50)
--as
--select *from UserInfo
--where Email=@Email

----------------------
--create proc validateuser
--@Email nvarchar(50),
--@Password nvarchar(30)
--as
--select *from UserInfo
--where Email=@Email and [Password]=@Password



--create proc getallusers
--as
--select *from UserInfo


--alter proc getallusers
--as
--select  U.*, R.RoleName from UserInfo U
--Join Roles R on U.RoleId=R.RoleId



--select *from Roles

--exec addnewuser 'arunqa','arun@m.com','15745325',4,'78536758'

--select *from UserInfo

--exec [dbo].[getallusers]

create proc [dbo].[getPMs]
as
select *from UserInfo
where[RoleId]=3
GO
/****** Object:  StoredProcedure [dbo].[getprojectmembers]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[getprojectmembers]
@projid int
as
begin
select u.*,r.*from ProjectMember pmem
join Project pr on pmem.ProjId=pr.ProjId
join UserInfo u on pmem.UserId=u.UserId
join Roles r on u.RoleId=r.RoleId
where pmem.ProjId=@projid
end
GO
/****** Object:  StoredProcedure [dbo].[getuserbyemail]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getuserbyemail]
@Email nvarchar(50)
as
select *from UserInfo
where Email=@Email
GO
/****** Object:  StoredProcedure [dbo].[getusersbyrole]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[getusersbyrole]
@rolename nvarchar(20)
as
begin
select *from UserInfo u
join Roles r on u.[RoleId]=r.RoleId
where r.RoleName=@rolename
end
GO
/****** Object:  StoredProcedure [dbo].[removeprojmem]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[removeprojmem]
@memberid int
as
begin
if  exists (
select *from ProjectMember pmem
join UserInfo u on pmem.UserId=u.UserId
where u.RoleId=2)
	delete ProjectMember where MemberId=@memberid
else
	throw 50002,'member is in pm',1
end
GO
/****** Object:  StoredProcedure [dbo].[validateuser]    Script Date: 5/3/2025 2:06:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[validateuser]
@Email nvarchar(50),
@Password nvarchar(30)
as
select *from UserInfo
where Email=@Email and [Password]=@Password
GO
USE [master]
GO
